
<footer class="mt-15">
  <section id="top_header" class=" py-10 bg-slate-100 px-10">
      <div class="grid grid-cols-3">
          <div>
              <div class="">
                  <img src="/static/carousel/images/barti-2.png" class="h-15 object-contain">
                  <h4 class="font-third w-75 leading-5 mt-3 text-sm text-blue-950">
                    {{ multilingual_content[language]['banrf'] }}
                  </h4>

                  <p class="text-sky-600 font-third text-xs mt-5 w-8/10">
                    {{ multilingual_content[language]['address_text'] }}
                      
                  </p>
              </div>
          </div>
          <div class="col-span-2">
              <div class="grid grid-cols-3">


                  <div>
                      <h4 class="font-primary font-bold text-blue-950">
                          {{ multilingual_content[language]['related_links'] }}
                      </h4>
                      <ul class="mt-5 pl-1">
                          <li class="font-third text-sky-600 text-sm my-2">
                              <a href="">
                                {{
                                  multilingual_content[language]['national_portal_of_india'] }}
                              </a>
                          </li>
                          <li class="font-third text-sky-600 text-sm my-2">
                              <a href="">
                                {{
                                  multilingual_content[language]['forms'] }}
                              </a>
                          </li>
                          <li class="font-third text-sky-600 text-sm my-2">
                              <a href="">
                                {{
                                  multilingual_content[language]['contact_us'] }}
                              </a>
                          </li>
                          <li class="font-third text-sky-600 text-sm my-2">
                              <a href="">
                                {{
                                  multilingual_content[language]['careers'] }}
                              </a>
                          </li>
                      </ul>
                  </div>

                  <div>
                      <h4 class="font-primary font-bold text-blue-950">
                        {{ multilingual_content[language]['security_brands'] }}
                      </h4>
                      <ul class="mt-5 pl-1">
                          <li class="font-third text-sky-600 text-sm my-2">
                              <a href="">
                                {{
                                  multilingual_content[language]['terms_and_conditions'] }}
                              </a>
                          </li>
                          <li class="font-third text-sky-600 text-sm my-2">
                              <a href="">
                                {{
                                  multilingual_content[language]['privacy_policy'] }}
                              </a>
                          </li>
                          <li class="font-third text-sky-600 text-sm my-2">
                              <a href="">
                                {{
                                  multilingual_content[language]['copyright_policy'] }}
                              </a>
                          </li>
                          <li class="font-third text-sky-600 text-sm my-2">
                              <a href="">
                                {{
                                  multilingual_content[language]['website_monitoring_policy'] }}
                              </a>
                          </li>
                      </ul>
                  </div>

                  <div>
                      <h4 class="font-primary font-bold text-blue-950">
                        {{ multilingual_content[language]['contact_us'] }}
                      </h4>
                      <ul class="mt-5 pl-1">
                          <li class="font-third text-sky-600 text-sm my-2">
                              <span class="material-symbols-outlined !text-base">
                                  phone_in_talk
                              </span>
                              020-26333330, 26333339, 26343600
                          </li>
                          <li class="font-third text-sky-600 text-sm my-2">
                              <span class="material-symbols-outlined !text-base">
                                  mail
                              </span>
                              helpdesk@barti.in
                          </li>
                          <!-- <li class="font-third text-sky-600 text-sm my-2">
                              <a href="">
                                  Copyright Policy
                              </a>
                              <a href="">
                                  Copyright Policy
                              </a>
                          </li> -->
                      </ul>
                  </div>
              </div>
          </div>
      </div>

  </section>
  <section id="copyright" class="py-2 bg-sky-600 px-10">
      <h4 class="font-third text-white text-sm">{{ multilingual_content[language]['footer_text'] }}</h4>
  </section>
</footer>