<header>
  <!-- top head section -->
  <div class="py-1 bg-blue-950 px-10 flex items-center justify-between">
    <div class="flex">
      <h5 class="text-clifford font-primary text-base tracking-wider text-xs mb-1 me-4 text-white">
        <span class="material-symbols-rounded !text-sm mb-0 me-1">
          mail
        </span>
        helpdesk@barti.in
      </h5>
      <h5 class="text-clifford font-secondary text-base tracking-wider text-xs text-white">
        <span class="material-symbols-rounded !text-sm mb-0 me-1">
          phone_in_talk
        </span>
        {{ multilingual_content[language]['mobile-no'] }}
      </h5>
    </div>
    <div class="flex items-center">
      <a href="#main">
        <span class="text-white font-primary text-xs me-3">{{ multilingual_content[language]['skip-to-main-content']
          }}</span>
      </a>
      <div>
        <!-- <span class="text-xs font-primary text-white px-3 border-l">A-</span>
        <span class="text-xs font-primary text-white px-3 border-l">A</span>
        <span class="text-xs font-primary text-white px-3 border-l">A+</span> -->
        <a href="{{ url_for('set_session', value='english') }}">
          <span class="text-xs font-primary text-white px-3 border-l">{{ multilingual_content[language]['english']
            }}</span>
        </a>
        <a href="{{ url_for('set_session', value='marathi') }}">
          <span class="text-xs font-primary text-white px-3 border-l">{{ multilingual_content[language]['marathi']
            }}</span>
        </a>
        <a href="/adminlogin" class="admin-login-btn">
          <span
            class="text-xs font-primary text-white px-3 border-x px-2 py-2 hover:bg-white hover:text-blue-950 transition-all duration-300">{{
            multilingual_content[language]['admin_login_btn']
            }}</span>
        </a>
      </div>
    </div>
  </div>


  <!-- Logo and branding section -->
  <div class="py-10 bg-slate-100">
    <div class="w-[95%] mx-auto flex justify-between">
      <div class="flex">
        <img src="static/assets/img/logo/emblem_logo.svg" class="h-20 object-contain mx-3" alt="">
        <img src="/static/carousel/images/barti-2.png" class="h-20 object-contain mx-3" alt="">
      </div>
      <div class="leading-7 text-center">
        <h5 class="text-[30px] font-primary font-bold text-blue-950 mb-0 ">
          {{ multilingual_content[language]['trti_header'] }}
        </h5>
        <p class="text-blue-950 text-sm font-primary mt-1">
          {{ multilingual_content[language]['barti_subtitle'] }}
        </p>
        <h5 class="font-secondary font-semibold text-sky-700 text-[27px] mt-3">
          {{ multilingual_content[language]['banrf'] }}
        </h5>
      </div>
      <div class="flex">
        <img src="static/assets/img/logo/diya.png" class="h-20 object-contain mx-3"
          alt="">
        <img src="static/assets/img/logo/mahashasan.jpeg" class="h-20 object-contain mx-3"
          alt="">
      </div>
    </div>
  </div>

  <!-- leader section -->
  <div class="py-3 px-10  " data-taos-offset="0">
    <div class="owl-carousel owl-theme px-3">
      <div class="item border border-sky-700 rounded-lg shadow p-3 h-full">
        <div class="grid grid-cols-4 gap-1 place-items-center">
          <div class="">
            <img src="static/assets/img/leaders/devpha.png"
              class="!w-15 !h-15 object-contain rounded-full shadow-xl" alt="User">
          </div>
          <div class="col-span-3">
            <h4 class="font-fourth font-bold text-base text-blue-950">
              {{ multilingual_content[language]['dev_phad'] }}
            </h4>
            <p class="text-xs font-poppins text-sky-700">
              {{ multilingual_content[language]['dev_phad_desgn'] }}
            </p>
          </div>
        </div>
      </div>

      <div class="item border border-sky-700 rounded-lg shadow p-3 h-full">
        <div class="grid grid-cols-4 gap-1 place-items-center">
          <div class="">
            <img src="static/assets/img/leaders/ekshi.png"
              class="!w-15 !h-15 object-contain shadow-xl rounded-full" alt="User">
          </div>
          <div class="col-span-3">
            <h4 class="font-fourth font-bold text-base text-blue-950">
              {{ multilingual_content[language]['eknath_shinde'] }}
            </h4>
            <p class="text-xs font-poppins text-sky-700">
              {{ multilingual_content[language]['eknath_shinde_desgn'] }}
            </p>
          </div>
        </div>
      </div>

      <div class="item border border-sky-700 rounded-lg shadow p-3 h-full">
        <div class="grid grid-cols-4 gap-1 place-items-center">
          <div class="">
            <img src="static/assets/img/leaders/ajitpawar.jpg"
              class="!w-15 !h-15 object-contain shadow-xl rounded-full" alt="User">
          </div>
          <div class="col-span-3">
            <h4 class="font-fourth font-bold text-base text-blue-950">
              {{ multilingual_content[language]['ajit_pawar'] }}
            </h4>
            <p class="text-xs font-poppins text-sky-700">
              {{ multilingual_content[language]['ajit_pawar_desgn'] }}
            </p>
          </div>
        </div>
      </div>

      <div class="item border border-sky-700 rounded-lg shadow p-3 h-full">
        <div class="grid grid-cols-4 gap-1 place-items-center">
          <div class="">
            <img src="static/assets/img/leaders/sanjay.jpg"
              class="!w-15 !h-15 object-contain rounded-full shadow-xl" alt="User">
          </div>
          <div class="col-span-3">
            <h4 class="font-fourth font-bold text-base text-blue-950">
              {{ multilingual_content[language]['sanjay_shirsat'] }}
            </h4>
            <p class="text-xs font-poppins text-sky-700">
              {{ multilingual_content[language]['sanjay_shirsat_design'] }}
            </p>
          </div>
        </div>
      </div>

      <div class="item border border-sky-700 rounded-lg shadow p-3 h-full">
        <div class="grid grid-cols-4 gap-1 place-items-center">
          <div class="">
            <img src="static/assets/img/leaders/madhuri.jpg"
              class="!w-15 !h-15 object-contain rounded-full shadow-xl" alt="User">
          </div>
          <div class="col-span-3">
            <h4 class="font-fourth font-bold text-base text-blue-950">
              {{ multilingual_content[language]['madhuri_misal'] }}
            </h4>
            <p class="text-xs font-poppins text-sky-700">
              {{ multilingual_content[language]['madhuri_misal_design'] }}
            </p>
          </div>
        </div>
      </div>

      <div class="item border border-sky-700 rounded-lg shadow p-3 h-full">
        <div class="grid grid-cols-4 gap-1 place-items-center">
          <div class="">
            <img src="static/assets/img/leaders/HarshdeepKamble.jpeg"
              class="!w-15 !h-15 object-contain rounded-full shadow-xl" alt="User">
          </div>
          <div class="col-span-3">
            <h4 class="font-fourth font-bold text-base text-blue-950">
              {{ multilingual_content[language]['vijay_waghmare'] }}
            </h4>
            <p class="text-xs font-poppins text-sky-700">
              {{ multilingual_content[language]['vijay_waghmare_desgn'] }}
            </p>
          </div>
        </div>
      </div>

      <div class="item border border-sky-700 rounded-lg shadow p-3 h-full">
        <div class="grid grid-cols-4 gap-1 place-items-center">
          <div class="">
            <img src="static/assets/img/leaders/sunil.png"
              class="!w-15 !h-15 object-contain rounded-full shadow-xl" alt="User">
          </div>
          <div class="col-span-3">
            <h4 class="font-fourth font-bold text-base text-blue-950">
              {{ multilingual_content[language]['sunil_ware'] }}
            </h4>
            <p class="text-xs font-poppins text-sky-700">
              {{ multilingual_content[language]['sunil_ware_design'] }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- menu section -->
  <div class="bg-sky-600">
    <!-- Desktop Nav menu -->
    <div class="flex justify-between w-[95%] mx-auto items-center">
      <ul class=" flex items-center">
        <a href="/">
          <li class="py-2 px-4 bg-white border border-sky-700 rounded font-third text-blue-950">
            {{ multilingual_content[language]['home'] }}
          </li>
        </a>
        <a href="/aboutus">
          <li class="py-2 px-4 border-1 border-transparent rounded font-third text-white hover:bg-white
                       transition-all duration-300 hover:text-blue-950 hover:border-1 hover:border-sky-700">
            {{ multilingual_content[language]['about'] }}
          </li>
        </a>
        <a href="/gr_page">
          <li class="py-2 px-4 border-1 border-transparent rounded font-third text-white hover:bg-white
                       transition-all duration-300 hover:text-blue-950 hover:border-1 hover:border-sky-700">
            {{ multilingual_content[language]['government_regulation'] }}
          </li>
        </a>
        <a href="/contact">
          <li class="py-2 px-4 border-1 border-transparent rounded font-third text-white hover:bg-white
                       transition-all duration-300 hover:text-blue-950 hover:border-1 hover:border-sky-700">
            {{ multilingual_content[language]['contact_us'] }}
          </li>
        </a>
      </ul>

      <div>
        <a href="/login" class="py-2 px-4 bg-white rounded hover:bg-slate-100 transition-all duration-200">
          <span class="material-symbols-rounded mb-0 !text-sm">
            login
          </span>
          {{ multilingual_content[language]['login_sign_btn'] }}
        </a>
      </div>
    </div>
  </div>
</header>