{% extends 'AdminPages/layout/layout.html' %}
{% block content %}


<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
          <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-eye-arrow-right"></i>
          </span> View Admin Login
        </h3>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-end">
                <!-- Add Admin Button to Open Modal -->
                <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addAdminModal">
                    <i class="mdi mdi-plus-thick"></i> Add User
                </a>
            </div>

            <!-- Add Admin Modal -->
            <div class="modal fade" id="addAdminModal" tabindex="-1" aria-labelledby="addAdminModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fw-bold" id="addAdminModalLabel">Add User</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Card Form Starts Here -->
                            <div class="card">
                                <div class="card-body">
                                    <form action="/addAdmin_submit" method="POST">
                                        <div class="card shadow-sm mb-4">
                                            <div class="btn btn-dark btn-lg text-center">
                                                <h6 class="text-white fw-bold">Admin Details</h6>
                                            </div>
                                            <div class="row m-0 mt-3">
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Select Role
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <select name="role" id="role" class="form-select" required>
                                                            <option value="" selected disabled>-- Select Role --</option>
                                                            <option value="Admin">Admin</option>
                                                            <!-- <option value="Project Officer">Project Officer</option>
                                                            <option value="Project Manager">Project Manager</option>
                                                            <option value="Office Superintendent">Office Superintendent</option>
                                                            <option value="Head of Department">Head of Department</option>
                                                            <option value="Account Officer">Account Officer</option>
                                                            <option value="Assistant Account Officer">Assistant Account Officer</option>
                                                            <option value="Registrar">Registrar</option>
                                                            <option value="Auditor">Auditor</option> -->
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Username
                                                            <span class="text-danger">*</span>
                                                            <span data-bs-toggle="tooltip" data-bs-placement="top" 
                                                                 title="Admins will use this username to log in.">
                                                            </span> 
                                                        </label>
                                                        <select name="username" id="username" class="form-select" required>
                                                            <option value="" selected disabled>-- Select Username --</option>
                                                        
                                                            {% set available_usernames = ['Admin2021', 'Admin2022', 'Admin2023', 'Admin2024'] %}
                                                        
                                                            {% for username in available_usernames %}
                                                                {% if username not in existing_usernames %}  {# Now it will compare properly #}
                                                                    <option value="{{ username }}">{{ username }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold" for="email">Email ID
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="email" name="email" id="email" class="form-control"
                                                               required placeholder="Enter Email ID">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Assign Year to the Admin
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <select name="year" id="year" class="form-select" required>
                                                            <option value="" selected disabled>-- Select Year --</option>

                                                        {% set available_years = ['BANRF 2021', 'BANRF 2022', 'BANRF 2023', 'BANRF 2024'] %}
                                                        
                                                            {% for year in available_years %}
                                                                {% if year not in existing_years %}  {# Now it will compare properly #}
                                                                    <option value="{{ year }}">{{ year }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-0 mt-3">
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold" for="first_name">First Name
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" name="first_name" id="first_name"
                                                               placeholder="Enter First Name" class="form-control"
                                                               oninput="validateName(this)" maxlength="15" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold" for="middle_name">Middle Name
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" name="middle_name" id="middle_name"
                                                               placeholder="Enter Middle Name" class="form-control"
                                                               oninput="validateName(this)" maxlength="15" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold" for="last_name">Surname
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" name="last_name" id="last_name"
                                                               placeholder="Enter Surname" class="form-control"
                                                               oninput="validateName(this)" maxlength="15" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold" for="mobile_number">Mobile Number
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" name="mobile_number" id="mobile_number"
                                                               placeholder="XXXXXXXXXX" class="form-control"
                                                               maxlength="10" onblur="validateMobileNumber(this)"
                                                               minlength="10" required>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row m-0">
                                                <div class="col-md-4 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold" for="date_of_birth">Date of Birth
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="date" name="date_of_birth" id="date_of_birth"
                                                               class="form-control"
                                                               maxlength="15" onblur="ValidateDoB(this)" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold" for="age">Age
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" name="age" id="age"
                                                               placeholder="Enter Age" class="form-control"
                                                               maxlength="2" onblur="validateAge(this)" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Gender
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <select name="gender" class="form-select" required>
                                                            <option value="" selected disabled>-- Select Gender --</option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                            <option value="Other">Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="row m-0">
                                                <div class="col-md-4 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Password</label><span class="text-danger">*</span>
                                                        <input type="password" class="form-control" name="password" id="password" 
                                                            placeholder="Password" required="" onblur="validatePasswords()"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Confirm Password</label><span class="text-danger">*</span>
                                                        <input type="password" class="form-control"
                                                            name="confirm_password" id="confirm_password"
                                                            placeholder="Confirm password" required="" onblur="validatePasswords()"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-center ms-2 mb-2">
                                                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Card Form Ends Here -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="table-responsive">
                <table class="table table-bordered datatable">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Year</th>
                            <th>Mobile Number</th>
                            <th>Password</th>
                            <th>Added By</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in record %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ row['first_name'] }} {{ row['middle_name'] }} {{ row['surname'] }}</td>
                            <td>{{ row['email'] }}</td>
                            <td>{{ row['username'] }}</td>
                            <td>{{ row['role'] }}</td>
                            <td>{{ row['year'] }}</td>
                            <td>{{ row['mobile_number'] }}</td>
                            <td>{{ row['password'] }}</td>
                            <td>{{ row['added_by'] }}</td>
                            <td>
                                <a href="/delete_admin/{{row['id']}}" class="btn btn-danger btn-sm tooltip-trigger"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Delete Admin"><i
                                    class="mdi mdi-close-octagon"></i>
                                </a>
                                <a href="#" class="btn btn-primary btn-sm editAdminBtn"
                                    data-id="{{ row['id'] }}"
                                    data-first_name="{{ row['first_name'] }}"
                                    data-middle_name="{{ row['middle_name'] }}"
                                    data-surname="{{ row['surname'] }}"
                                    data-email="{{ row['email'] }}"
                                    data-username="{{ row['username'] }}"
                                    data-role="{{ row['role'] }}"
                                    data-year="{{ row['year'] }}"
                                    data-mobile_number="{{ row['mobile_number'] }}"
                                    data-password="{{ row['password'] }}"
                                    data-bs-toggle="modal" data-bs-target="#editAdminModal">
                                    <i class="mdi mdi-pencil"></i> Edit
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="modal fade" id="editAdminModal" tabindex="-1" aria-labelledby="editAdminModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fw-bold" id="editAdminModalLabel">Edit Admin Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Card Form Starts Here -->
                                <div class="card">
                                    <div class="card-body">
                                        <form id="editAdminForm" action="" method="POST">
                                            <input type="hidden" name="id" id="edit_id"> <!-- Hidden field for ID -->
                                            <div class="card shadow-sm mb-4">
                                                <div class="btn btn-dark btn-lg text-center">
                                                    <h6 class="text-white fw-bold">Admin Details</h6>
                                                </div>
                                                <div class="row m-0 mt-3">
                                                    <div class="col-md-3 mt-2">
                                                        <div class="form-group">
                                                            <label class="fw-bold">First Name</label>
                                                            <input type="text" name="first_name" id="edit_first_name" 
                                                            required class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mt-2">
                                                        <div class="form-group">
                                                            <label class="fw-bold">Middle Name</label>
                                                            <input type="text" name="middle_name" id="edit_middle_name" 
                                                            required class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mt-2">
                                                        <div class="form-group">
                                                            <label class="fw-bold">Surname</label>
                                                            <input type="text" name="surname" id="edit_surname" 
                                                            required class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mt-2">
                                                        <div class="form-group">
                                                            <label class="fw-bold">Email</label>
                                                            <input type="email" name="email" id="edit_email" 
                                                            required class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mt-2">
                                                        <div class="form-group">
                                                            <label class="fw-bold">Username</label>
                                                            <input type="text" name="username" id="edit_username" 
                                                            required class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mt-2">
                                                        <div class="form-group">
                                                            <label class="fw-bold">Role</label>
                                                            <input type="text" name="role" id="edit_role" 
                                                            required class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mt-2">
                                                        <div class="form-group">
                                                            <label class="fw-bold">Year</label>
                                                            <input type="text" name="year" id="edit_year" 
                                                            required class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 mt-2">
                                                        <div class="form-group">
                                                            <label class="fw-bold">Mobile Number</label>
                                                            <input type="text" name="mobile_number" id="edit_mobile_number" 
                                                               placeholder="XXXXXXXXXX" class="form-control"
                                                               maxlength="10" onblur="validateMobileNumber(this)"
                                                               minlength="10" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                        <div class="text-center ms-2 mb-2">
                                            <button type="submit" class="btn btn-primary mt-3">Update Admin</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}