<!doctype html>
<html class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />

    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.min.css">

    <title>Admin_login</title>
    <style type="text/tailwindcss">
        @theme {
          --color-gold: #DABA9B;
          --color-light-gray: #F0F0F0;
          --font-primary : "Playfair Display", serif;
          --font-secondary : "Poppins", sans-serif;
          --font-third : "Platypi", serif;
          --font-fourth : "Playfair", serif;
          --font-play : "Play", sans-serif;
        }
    </style>
    <link rel="stylesheet" href="/static/carousel/assets/owl.carousel.min.css">
    <script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="/static/sweetAlert.js" rel="js">
</head>

<body class="overflow-x-hidden">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            {% for category, message in messages %}
            Swal.fire({
                title: "{{ 'Success!' if category == 'success' else 'Error!' }}",
                text: "{{ message }}",
                icon: "{{ category }}",
                confirmButtonText: 'OK'
            });
            {% endfor %}
        });
    </script>
    {% endif %}
    {% endwith %}

    <main id="main">
        <div class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat bg-opacity-10 "
            style="background-image:url('https://www.barti.in/assets/barti/sliders/6761695fba5e9.jpg')">
            <div class="rounded-xl w-150 bg-black/80 px-16 py-10 shadow-lg backdrop-blur-sm max-sm:px-8">
                <div class="text-white">
                    <div class="mb-8 flex flex-col items-center">
                        <!-- <img src="/static/assets/img/logo/barti.png" class="w-20" alt="" srcset="" /> -->
                        <h1 class="mb-2 text-2xl text-sky-100">Admin</h1>
                        <span class="text-sky-100">Enter Login Details</span>
                        <p style="color: white;">
                            {% if error %}
                            <strong>{{ error }}</strong>
                            {% endif %}
                        </p>
                    </div>
                    <form action="/adminlogin" method="POST" autocomplete="off">
                        <div class="mb-4 text-lg">
                            <select name="role" id="role" class="rounded-lg border-none bg-white/90  px-6 py-2 text-center  placeholder-slate-400 shadow-lg outline-none backdrop-blur-md text-slate-600 w-full text-left" required>
                                <option value="" selected="" disabled="">-- Select Role --</option>
                                <option value="Super Admin">Director General</option>
                                <!-- <option value="Project Officer">Project Officer</option>
                                    <option value="Project Manager">Project Manager</option>
                                    <option value="Office Superintendent">Office Superintendent</option> -->
                                <option value="Head of Department">Head of Department</option>
                                <option value="Account Officer">Account Officer</option>
                                <!-- <option value="Assistant Account Officer">Assistant Account Officer</option> -->
                                <option value="Registrar">Registrar</option>
                                <option value="Admin">Admin</option>
                                <option value="Auditor">Auditor</option>
                            </select>
                        </div>

                        <div class="mb-4 text-lg">
                            <input
                                class="rounded-lg border-none bg-white/90 bg-opacity-50 px-6 py-2 text-center text-slate-600 placeholder-slate-400 shadow-lg outline-none backdrop-blur-md w-full text-left "
                                type="text" name="username" placeholder="Enter Username" required />
                        </div>

                        <div class="mb-4 text-lg">
                            <input
                                class="rounded-lg border-none bg-white/90 bg-opacity-50 px-6 py-2 text-center text-slate-600 placeholder-slate-400 shadow-lg outline-none backdrop-blur-md w-full text-left "
                                type="password" name="password" placeholder="*********" required />
                        </div>
                        <div class="mt-8 flex justify-center text-lg text-black">
                            <button type="submit"
                                class="rounded-lg bg-white/80 bg-opacity-50 px-10 py-2 shadow-xl backdrop-blur-md transition-colors duration-300 hover:bg-white/90 text-slate-600 cursor-pointer mx-1">Login</button>
                        </div>
                        <p class="text-center mt-5"><a href="/" class="text-blue-500">Click here</a> to redirect back on
                            home page</p>
                    </form>
                </div>
            </div>
        </div>
    </main>

</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</html>