{% extends 'AdminPages/layout/layout.html' %}
{% block content %}


<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
          <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-eye-arrow-right"></i>
          </span> View HRA Rates
        </h3>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-end">
                <!-- Add Admin Button to Open Modal -->
                <a href="#" class="btn btn-primary btn-sm " data-bs-toggle="modal" data-bs-target="#addHRAModal">
                    <i class="mdi mdi-plus-thick"></i> Add Rate
                </a>
            </div>

            <!-- Add HRA Rate Modal -->
            <div class="modal fade" id="addHRAModal" tabindex="-1" aria-labelledby="addHRAModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fw-bold" id="addHRAModalLabel">Add HRA Rate</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Card Form Starts Here -->
                            <div class="card">
                                <div class="card-body">
                                    <form action="/submit_HRA_rate" method="POST">
                                        <div class="card shadow-sm mb-4">
                                            <div class="btn btn-dark btn-lg text-center">
                                                <h6 class="text-white fw-bold">Rate Details</h6>
                                            </div>
                                            <div class="row m-0 mt-3">
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Select Year
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <select name="for_year" id="for_year" class="form-select" required>
                                                            <option value="" selected disabled>-- Select Year --</option>
                                                            <option value="2020">BANRF 2020</option>
                                                            <option value="2021">BANRF 2021</option>
                                                            <option value="2022">BANRF 2022</option>
                                                            <option value="2023">BANRF 2023</option>
                                                            <option value="2024">BANRF 2024</option>
                                                            <option value="2025">BANRF 2025</option>
                                                            <option value="2026">BANRF 2026</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Fellowship Amount
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" name="fellowship_amount" id="fellowship_amount"
                                                            placeholder="Enter Fellowship Amount" class="form-control"
                                                            oninput="validateAmount(this)" required/>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Reference Date
                                                            <span class="text-danger">*</span>
                                                         </label>
                                                         <input type="date" name="date_criteria" id="date_criteria" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Less/Greater than Reference Date
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <select name="less_greater_than" id="less_greater_than" class="form-select" required>
                                                            <option value="" selected disabled>-- Select Option --</option>
                                                            <option value="greater_than">Apply these rates form Reference Date(हे दर रेफेरेंस डेटपासून लागू करावेत)</option>
                                                            <option value="less_than">Apply these rates upto Reference Date(हे दर रेफेरेंस डेटपर्यंत लागू करावेत)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">JRF/SRF
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <select name="jrf_srf" id="jrf_srf" class="form-select" required>
                                                            <option value="" selected disabled>-- Select Option --</option>
                                                            <option value="jrf_1">JRF First Year</option>
                                                            <option value="jrf_2">JRF Second Year</option>
                                                            <option value="srf_1">SRF First Year</option>
                                                            <option value="srf_2">SRF Second Year</option>
                                                            <option value="srf_3">SRF Third Year</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">HRA Rate for "X" category
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" name="X_rate" id="X_rate"
                                                            placeholder="Enter HRA rate for X category" class="form-control"
                                                            oninput="validateHRArate(this)" required/>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">HRA Rate for "Y" category
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" name="Y_rate" id="Y_rate"
                                                            placeholder="Enter HRA rate for Y category" class="form-control"
                                                            oninput="validateHRArate(this)" required/>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">HRA Rate for "Z" category
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" name="Z_rate" id="Z_rate"
                                                            placeholder="Enter HRA rate for Z category" class="form-control"
                                                            oninput="validateHRArate(this)" required/>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Contingency Amount for Social Science
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" name="contingency_other" id="contingency_other"
                                                            placeholder="Enter Contingency Amount for Social Science" class="form-control"
                                                            oninput="validateAmount(this)" required/>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Contingency Amount for Science & Tech.
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" name="contingency_science" id="contingency_science"
                                                            placeholder="Enter Contingency Amount for Science & Tech." class="form-control"
                                                            oninput="validateAmount(this)" required/>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-2">
                                                    <div class="form-group">
                                                        <label class="fw-bold">Amount for Disabled Candidates
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <input type="text" name="disability" id="disability"
                                                            placeholder="Enter Amount for Disabled Candidates" class="form-control"
                                                            oninput="validateAmount(this)" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-center ms-2 mb-2">
                                                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Card Form Ends Here -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered datatable">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Year</th>
                            <th>Fellowship Amount</th>
                            <th>Reference Date</th>
                            <th>Description</th>
                            <th>JRF/SRF</th>
                            <th>X Rate</th>
                            <th>Y Rate</th>
                            <th>Z Rate</th>
                            <th>Contingency(Social Science)</th>
                            <th>Contingency(Sci. & Tech.)</th>
                            <th>Disability rate</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in record %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ row['for_year'] }}</td>
                            <td>INR Rs.{{ row['fellowship_amount'] }}</td>
                            <td>{{ row['date_criteria'] }}</td>
                            {% if row['less_greater_than'] == "greater_than"%}
                                    <td>These rates will be applied form Reference Date.</td>
                                {% elif row['less_greater_than'] == "less_than"%}
                                    <td>These rates are applied before Reference Date.</td>
                            {% endif %}                            
                            {% if row['jrf_srf'] == "jrf_1"%}
                                <td>JRF First Year</td>
                                {% elif row['jrf_srf'] == "jrf_2"%}
                                    <td>JRF Second Year</td>
                                {% elif row['jrf_srf'] == "srf_1"%}
                                    <td>SRF First Year</td>
                                {% elif row['jrf_srf'] == "srf_2"%}
                                    <td>SRF Second Year</td>
                                {% elif row['jrf_srf'] == "srf_3"%}
                                    <td>SRF Third Year</td>
                            {% endif %}
                            <td>{{ row['X_rate'] }}%</td>
                            <td>{{ row['Y_rate'] }}%</td>
                            <td>{{ row['Z_rate'] }}%</td>
                            <td>INR Rs.{{ row['contingency_other'] }}</td>
                            <td>INR Rs.{{ row['contingency_science'] }}</td>
                            <td>INR Rs.{{ row['disability'] }}</td>
                            <td>
                                <a href="/delete_hra/{{row['id']}}" class="btn btn-danger btn-sm tooltip-trigger"
                                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Delete Admin"><i
                                    class="mdi mdi-close-octagon"></i>
                                </a>
                                <a href="#" class="btn btn-primary btn-sm editHRABtn"
                                    data-id="{{ row['id'] }}"
                                    data-for_year="{{ row['for_year'] }}"
                                    data-fellowship_amount="{{ row['fellowship_amount'] }}"
                                    data-date_criteria="{{ row['date_criteria'] }}"
                                    data-fellowship_amount="{{ row['fellowship_amount'] }}"
                                    data-less_greater_than="{{ row['less_greater_than'] }}"
                                    data-jrf_srf="{{ row['jrf_srf'] }}"
                                    data-X_rate="{{ row['X_rate'] }}"
                                    data-Y_rate="{{ row['Y_rate'] }}"
                                    data-Z_rate="{{ row['Z_rate'] }}"
                                    data-contingency_other="{{ row['contingency_other'] }}"
                                    data-contingency_science="{{ row['contingency_science'] }}"
                                    data-disability="{{ row['disability'] }}"
                                    data-bs-toggle="modal" data-bs-target="#editHRAModal">
                                    <i class="mdi mdi-pencil"></i> Edit
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="modal fade" id="editHRAModal" tabindex="-1" aria-labelledby="editHRAModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fw-bold" id="editHRAModalLabel">Edit HRA Rate Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <form id="editHRAForm" action="" method="POST">
                                    <input type="hidden" name="id" id="edit_id"> <!-- Hidden field for ID -->
                                    <div class="card shadow-sm mb-4">
                                        <div class="btn btn-dark btn-lg text-center">
                                            <h6 class="text-white fw-bold">Rate Details</h6>
                                        </div>
                                        <div class="row m-0 mt-3">
                                            <div class="col-md-3 mt-2">
                                                <div class="form-group">
                                                    <label class="fw-bold">Select Year
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <select name="for_year" id="edit_for_year" class="form-select" required>
                                                        <option value="" selected disabled>-- Select Year --</option>
                                                        <option value="2020">BANRF 2020</option>
                                                        <option value="2021">BANRF 2021</option>
                                                        <option value="2022">BANRF 2022</option>
                                                        <option value="2023">BANRF 2023</option>
                                                        <option value="2024">BANRF 2024</option>
                                                        <option value="2025">BANRF 2025</option>
                                                        <option value="2026">BANRF 2026</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mt-2">
                                                <div class="form-group">
                                                    <label class="fw-bold">Fellowship Amount
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="text" name="fellowship_amount" id="edit_fellowship_amount"
                                                        placeholder="Enter Fellowship Amount" class="form-control"
                                                        oninput="validateAmount(this)" required/>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mt-2">
                                                <div class="form-group">
                                                    <label class="fw-bold">Reference Date
                                                        <span class="text-danger">*</span>
                                                     </label>
                                                     <input type="date" name="date_criteria" id="edit_date_criteria" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mt-2">
                                                <div class="form-group">
                                                    <label class="fw-bold">Less/Greater than Reference Date
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <select name="less_greater_than" id="edit_less_greater_than" class="form-select" required>
                                                        <option value="" selected disabled>-- Select Option --</option>
                                                        <option value="greater_than">Apply these rates form Reference Date(हे दर रेफेरेंस डेटपासून लागू करावेत)</option>
                                                        <option value="less_than">Apply these rates upto Reference Date(हे दर रेफेरेंस डेटपर्यंत लागू करावेत)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mt-2">
                                                <div class="form-group">
                                                    <label class="fw-bold">JRF/SRF
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <select name="jrf_srf" id="edit_jrf_srf" class="form-select" required>
                                                        <option value="" selected disabled>-- Select Option --</option>
                                                        <option value="jrf_1">JRF First Year</option>
                                                        <option value="jrf_2">JRF Second Year</option>
                                                        <option value="srf_1">SRF First Year</option>
                                                        <option value="srf_2">SRF Second Year</option>
                                                        <option value="srf_3">SRF Third Year</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mt-2">
                                                <div class="form-group">
                                                    <label class="fw-bold">HRA Rate for "X" category
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="text" name="X_rate" id="edit_X_rate"
                                                        placeholder="Enter HRA rate for X category" class="form-control"
                                                        oninput="validateHRArate(this)" required/>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mt-2">
                                                <div class="form-group">
                                                    <label class="fw-bold">HRA Rate for "Y" category
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="text" name="Y_rate" id="edit_Y_rate"
                                                        placeholder="Enter HRA rate for Y category" class="form-control"
                                                        oninput="validateHRArate(this)" required/>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mt-2">
                                                <div class="form-group">
                                                    <label class="fw-bold">HRA Rate for "Z" category
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="text" name="Z_rate" id="edit_Z_rate"
                                                        placeholder="Enter HRA rate for Z category" class="form-control"
                                                        oninput="validateHRArate(this)" required/>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mt-2">
                                                <div class="form-group">
                                                    <label class="fw-bold">Contingency Amount for Social Science
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="text" name="contingency_other" id="edit_contingency_other"
                                                        placeholder="Enter Contingency Amount for Social Science" class="form-control"
                                                        oninput="validateAmount(this)" required/>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mt-2">
                                                <div class="form-group">
                                                    <label class="fw-bold">Contingency Amount for Science & Tech.
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="text" name="contingency_science" id="edit_contingency_science"
                                                        placeholder="Enter Contingency Amount for Science & Tech." class="form-control"
                                                        oninput="validateAmount(this)" required/>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mt-2">
                                                <div class="form-group">
                                                    <label class="fw-bold">Amount for Disabled Candidates
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input type="text" name="disability" id="edit_disability"
                                                        placeholder="Enter Amount for Disabled Candidates" class="form-control"
                                                        oninput="validateAmount(this)" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center ms-2 mb-2">
                                            <button type="submit" class="btn btn-primary btn-sm">Update HRA</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


{% endblock %}