{% extends 'CandidatePages/layout/layout.html' %}
{% block content %}


<div class="card">
    <div class="card-body">
        <form action="/submit_old_change_password" method="POST">

            <h5 class="text-center">Email ID - {{ session['email'] }}</h5>


        <div class="row mt-5">
            <div class="col-md-2">
                <label>Current Password:</label>
            </div>
            <div class="col-md-10">
                <input type="password" class="form-control" name="current_password" id="current_password" placeholder="Enter current password" required
                onblur="checkCurrentPassword(this)">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2">
                <label>New Password:</label>
            </div>
            <div class="col-md-10">
                <input type="password" class="form-control" name="new_password" id="new-password" placeholder="Enter new password"
                required onblur="validatePasswords()"/>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2">
                <label>Confirm Password:</label>
            </div>
            <div class="col-md-10">
                <input type="password" class="form-control" name="confirm_password" id="confirm-password" placeholder="Confirm new password"
                required onblur="validatePasswords()"/>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary btn-sm">Change Password</button>
        </div>
    </form>
    </div>
</div>

{% endblock %}