{% extends 'CandidatePages/layout/layout.html' %}
{% block content %}

{% include 'CandidatePages/layout/steps.html' %}

<!--
    The Onchange or Any JQUERY OR JavaScript code is written in the section1.js file.
    Path of JS file:- static/candidate_assets/js/applicationForm/section1.js
-->


<div class="container mt-5">
    <!-- Section 1: Personal Details Form -->
    <div class="card">
        <div class="card-body">

            <form action="/section1_submit" method="POST" enctype="multipart/form-data" class="personal-details-form">

                <h4 class="mb-4 text-center">Personal Details</h4>

                 <div class="card shadow-sm mb-4">
                     <div class="btn btn-dark btn-lg text-center">
                        <h6 class="text-white fw-bold">Important Details</h6>
                     </div>
                     <div class="row m-0">
                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label for="applicant_photo">Applicant Photo
                                    <span class="text-danger">*</span>
                                    <span data-bs-toggle="tooltip" data-bs-placement="top"
                                          title="Upload a JPG/PNG image (50KB-100KB).">
                                        (<span class="mdi mdi-image-area text-primary">IMG</span>)
                                    </span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    {% if record['applicant_photo'] %}
                                        <img src="{{ record['applicant_photo'] }}" alt="Applicant Photo"
                                             style="height:100px; width:100px;">
                                    {% else %}
                                        <span class="text-muted">No photo uploaded.</span>
                                    {% endif %}
                                {% else %}
                                    <input type="file" name="applicant_photo" id="applicant_photo"
                                           class="form-control accept_img"
                                           {% if not record['section1'] == "filled" %}required{% endif %}>
                                           <input type="hidden" name="applicant_photo_hidden" value="{{ record['applicant_photo'] }}">
                                    {% if record['section1'] == "filled" and record['applicant_photo'] %}
                                        <img src="{{ record['applicant_photo'] }}" alt="Applicant Photo"
                                             style="height:100px; width:100px; margin-top: 10px;">
                                        <small class="form-text text-muted">You can upload a new photo to replace the existing one.</small>
                                    {% elif record['section1'] == "filled" %}
                                        <small class="form-text text-muted">You can upload a photo now.</small>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                {% if record['lock_application_form'] == 'locked' %}
                                    <label for="adhaar_number">Verified Adhaar
                                        <span class="text-danger">*</span>
                                    </label>
                                    <br>
                                    <span class="text-dark">{{ record['adhaar_number'] }}</span>
                                {% else %}
                                    <label for="adhaar_number">Aadhaar Number
                                        <span class="text-danger">*</span>
                                    </label>

                                    <input type="text" name="adhaar_number" id="adhaar_number" class="form-control mb-2"
                                        maxlength="12" onchange="checkAadhaarOnChange(this)" placeholder = "Enter Aadhaar Number" required
                                        value = "{{ record['adhaar_number'] }}">
<!--                                    <a href="#" class="btn btn-primary btn-sm">Verify Aadhaar</a>-->
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label for="adhaar_seeding_bank">Adhaar Seeding Document
                                    <span class="text-danger">*</span>
                                    <span data-bs-toggle="tooltip" data-bs-placement="top"
                                          title="Upload a JPG/PNG image (50KB-100KB).">
                                        (<span class="mdi mdi-image-area text-primary">IMG</span>)
                                    </span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    {% if record['adhaar_seeding_doc'] %}
                                        <img src="{{ record['adhaar_seeding_doc'] }}" alt="Adhaar Seeding Document"
                                             style="height:100px; width:100px;">
                                    {% else %}
                                        <span class="text-muted">No document uploaded.</span>
                                    {% endif %}
                                {% else %}
                                    <input type="file" name="adhaar_seeding_bank" id="adhaar_seeding_bank"
                                           class="form-control accept_img"
                                           {% if not record['section1'] == "filled" %}required{% endif %}>
                                           <input type="hidden" name="adhaar_seeding_doc" value="{{ record['adhaar_seeding_doc'] }}">
                                    {% if record['section1'] == "filled" and record['adhaar_seeding_doc'] %}
                                        <img src="{{ record['adhaar_seeding_doc'] }}" alt="Adhaar Seeding Document"
                                             style="height:100px; width:100px; margin-top: 10px;">
                                        <small class="form-text text-muted">You can upload a new document to replace the existing one.</small>
                                    {% elif record['section1'] == "filled" %}
                                        <small class="form-text text-muted">You can upload the Adhaar seeding document now.</small>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                 </div>

                 <div class="card shadow-sm mb-4">
                     <div class="btn btn-dark btn-lg text-center">
                        <h6 class="text-white fw-bold">General Details</h6>
                     </div>
                     <div class="row m-0">
                        <div class="col-md-3 mt-2">
                            <div class="form-group">
                                <label for="first_name">First Name
                                    <span class="text-danger">*</span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['first_name'] }}</span>
                                {% else %}
                                    <input type="text" name="first_name" id="first_name" readonly
                                       placeholder="Enter First Name" class="form-control" value="{{ signup['first_name'] }}"
                                       oninput="validateName(this)" maxlength="15" required>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <div class="form-group">
                                <label for="middle_name">Middle Name
                                    <span class="text-danger">*</span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['middle_name'] }}</span>
                                {% else %}
                                    <input type="text" name="middle_name" id="middle_name" readonly
                                       placeholder="Enter Middle Name" class="form-control" value="{{ signup['middle_name'] }}"
                                        oninput="validateName(this)" maxlength="15" required>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <div class="form-group">
                                <label for="last_name">Surname
                                    <span class="text-danger">*</span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['last_name'] }}</span>
                                {% else %}
                                    <input type="text" name="last_name" id="last_name" readonly
                                       placeholder="Enter Surname" class="form-control" value="{{ signup['last_name'] }}"
                                        oninput="validateName(this)" maxlength="15" required>
                                {% endif %}
                            </div>
                        </div>
                         <div class="col-md-3 mt-2">
                            <div class="form-group">
                                <label for="mobile_number">Mobile Number
                                    <span class="text-danger">*</span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['mobile_number'] }}</span>
                                {% else %}
                                    <input type="text" name="mobile_number" id="mobile_number"
                                        placeholder="Enter Mobile Number" class="form-control"
                                        value="{{ signup['mobile_number'] }}" readonly
                                        maxlength="10" onblur="validateMobileNumber(this)"
                                        minlength="10" required>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                     <div class="row m-0">
                        <div class="col-md-4 mt-2">
                            <label for="email">Email ID
                                <span class="text-danger">*</span>
                            </label>
                            <div class="input-group mb-3">
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['email'] }}</span>
                                {% else %}
                                    <input type="text" class="form-control" aria-label="Text input with dropdown button"
                                            name="email" id="email" value="{{ signup['email'] }}" disabled>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label for="date_of_birth">Date of Birth
                                    <span class="text-danger">*</span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ formatted_date_of_birth }}</span>
                                {% else %}
                                   <input type="date" name="date_of_birth" id="date_of_birth" class="form-control"
                                    onchange = "validateYear()" onblur="calculateAge(this)"  value= "{{ record['date_of_birth'] }}" required>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label for="age">Age
                                    <span class="text-danger">*</span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['age'] }} Years</span>
                                {% else %}
                                    <input type="text" name="age" id="age" class="form-control"
                                        placeholder="Enter your Date of Birth" 
                                        value="{{ record['age'] }}"readonly>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label for="gender">Gender
                                    <span class="text-danger">*</span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['gender'] }}</span>
                                {% else %}
                                <select name="gender" id="gender" class="form-control" required>
                                    <option value="" {% if not record['gender'] %}selected{% endif %}>-- Select Gender --</option>
                                    <option value="Male" {% if record['gender'] == 'Male' %}selected{% endif %}>Male</option>
                                    <option value="Female" {% if record['gender'] == 'Female' %}selected{% endif %}>Female</option>
                                    <option value="Other" {% if record['gender'] == 'Other' %}selected{% endif %}>Other</option>
                                </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label for="caste">Category
                                    <span class="text-danger">*</span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['caste'] }}</span>
                                {% else %}

                                <input type="text" name="caste" id="caste" class="form-control"
                                        value="Scheduled Caste" readonly>

                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label for="your_caste">Caste
                                        <span class="text-danger">*</span>
                                    </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['your_caste'] }}</span>
                                {% else %}
                                <select name="your_caste" id="your_caste" class="form-control" required>
                                    <option value="" {% if not record['your_caste'] %}selected{% endif %}>-- Select Caste --</option>
                                    {% for castes in all_caste %}
                                        <option
                                            data-hidden="{{ castes['unique_number'] }}"
                                            value="{{ castes['caste_name'] }}"
                                            {% if record['your_caste'] == castes['caste_name'] %}selected{% endif %}
                                        >
                                            {{ castes['caste_name'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                                </select>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                     <div class="row m-0">
                            <div class="col-md-4 mt-2">
                                <div class="form-group">
                                    <label for="marital_status">Marital Status
                                        <span class="text-danger">*</span>
                                    </label>
                                    {% if record['lock_application_form'] == 'locked' %}
                                        <br>
                                        <span class="text-dark">{{ record['marital_status'] }}</span>
                                    {% else %}
                                       <select name="marital_status" id="marital_status" class="form-control" required>
                                            <option value="" {% if not record['marital_status'] %}selected{% endif %} disabled>-- Select Option --</option>
                                            <option value="Single" {% if record['marital_status'] == 'Single' %}selected{% endif %} >Single</option>
                                            <option value="Married" {% if record['marital_status'] == 'Married' %}selected{% endif %}>Married</option>
                                            <option value="Divorced" {% if record['marital_status'] == 'Divorced' %}selected{% endif %}>Divorced</option>
                                            <option value="Widowed" {% if record['marital_status'] == 'Widowed' %}selected{% endif %}>Widowed</option>
                                            <option value="Seperated" {% if record['marital_status'] == 'Seperated' %}selected{% endif %}>Seperated</option>
                                        </select>
                                    {% endif %}
                                </div>
                            </div>
                    </div>
                 </div>

                <div class="card shadow-sm mb-4">
                    <div class="btn btn-dark btn-lg text-center">
                        <h6 class="text-white fw-bold">Address Details</h6>
                    </div>
                    <div class="row m-0 mx-2 mt-2"> 
                        {% if record['lock_application_form'] != 'locked' and record['section1'] == "filled" %}
                        <label for="add_1"><span class="text-danger">Note: </span>
                            Edit Pincode only if you need to update Village, Taluka, District, 
                            or State fields, as changing the Pincode will clear these fields for re-entry.
                        </label>
                        <br>
                        {% endif %}
                    </div>
                    <div class="row m-0">
                        <div class="col-md-9 mt-2">
                            <div class="form-group">
                                <label for="add_1">Permanent Address
                                    <span class="text-danger">*</span>
                                </label>
                                
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['add_1'] }}</span>
                                {% else %}
                                <textarea name="add_1" id="add_1" class="form-control" placeholder="Enter your Permanent Address." 
                                oninput="validateName(this)" required>{{ record['add_1'] }}</textarea>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <div class="form-group">
                                <label for="pincode">Pincode
                                    <span class="text-danger">*</span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['pincode'] }}</span>
                                {% else %}
                                   <input type="text" name="pincode" id="pincode" class="form-control"
                                        placeholder="Enter your Pincode" value="{{ record['pincode'] }}" required >
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-3 mt-2">
                            <div class="form-group">
                                <label for="pvtg" data-bs-toggle="tooltip" data-bs-placement="top"
                                       title="Enter Pincode, all the villages will autopopulate">
                                    Select Permanent Village <span class="text-danger">*</span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['village'] }}</span>
                                    {% else %}
                                    <select id="village" name="village" class="form-control" required
                                    onclick="selectAddressVillage()">
                                        
                                        {% if record['village'] %}
                                        <option {% if record['village'] %}selected{% endif %}>{{ record['village'] }}</option>
                                        {% else %}
                                        <option value="" selected>-- Select Village --</option>
                                        {% endif %}
                                        <!-- Village options will be populated via the API -->
                                    </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3 mt-2 {% if record['village'] != 'Other' %}d-none{% endif %}" id="other_village_container">
                            <div class="form-group">
                                <label for="other_village">Other Village <span class="text-danger">*</span></label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['other_village'] }}</span>
                                {% else %}
                                    <input class="form-control" name="other_village" id="other_village"
                                           oninput="validateName(this)" 
                                           value="{{ record['other_village'] }}"
                                           maxlength="30" placeholder="Enter Other Village Name">
                                {% endif %}
                            </div>
                        </div>
                        {% if record.lock_application_form == 'locked' and record.other_village %}
                            <div class="col-md-3 mt-2">
                                <div class="form-group">
                                    <label for="other_village">
                                        Other Village
                                        <span class="text-danger">*</span>
                                    </label>
                                        <br>
                                        <span class="text-dark">{{ record['other_village'] }}</span>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-md-3 mt-2">
                            <div class="form-group">
                                <label for="taluka">Taluka
                                    <span class="text-danger">*</span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['taluka'] }}</span>
                                {% else %}
                                   <input type="text" name="taluka" id="taluka" class="form-control"
                                       placeholder="Select Village" oninput="validateName(this)" 
                                       value="{{ record['taluka'] }}" maxlength="30" readonly>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <div class="form-group">
                                <label for="district">District
                                    <span class="text-danger">*</span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['district'] }}</span>
                                {% else %}
                                   <input type="text" name="district" id="district" class="form-control"
                                        placeholder="Select Village" oninput="validateName(this)" 
                                        value="{{ record['district'] }}" maxlength="30" readonly>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <div class="form-group">
                                <label for="state">State
                                    <span class="text-danger">*</span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['state'] }}</span>
                                {% else %}
                                   <input type="text" name="state" id="state" class="form-control"
                                        placeholder="Select Village" oninput="validateName(this)" 
                                        value="{{ record['state'] }}" maxlength="30" readonly>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if record['lock_application_form'] == 'locked' %}
                    <div class="form-check ms-2">
                            <label class="form-check-label text-primary font-13" for="sameAddress" id="same_check_en">
                                Is Communication Address same as Permanent Address?:
                                <span class="text-dark">{{ record['same_address'] }}</span>
                            </label>
                        </div>
                    {% else %}
                        <div class="form-check ms-2" style="padding:2rem;">
                            <input type="hidden" id="same_address" name="same_address" value="No">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                id="sameAddress"
                                name="same_address"
                                value="Yes"
                                onchange="updateSameAddress()">
                            <label class="form-check-label text-primary font-13" for="sameAddress" id="same_check_en">
                                Tick if Communication Address is same as Permanent Address.
                            </label>
                        </div>
                    {% endif %}
                    <div class="row m-0">
                        <div class="col-md-9 mt-2">
                            <div class="form-group">
                                <label for="comm_add_1">Communication Address / University Address
                                    <span class="text-danger">*</span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['comm_add_1'] }}</span>
                                {% else %}
                                <textarea name="comm_add_1" id="comm_add_1" class="form-control" oninput="validateName(this)"
                                placeholder="Enter your Communication address (Where your University is located)." required>{{ record['comm_add_1'] }}</textarea>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3 mt-2">
                            <div class="form-group">
                                <label for="comm_pincode">Pincode
                                    <span class="text-danger">*</span>
                                </label>
                                {% if record['lock_application_form'] == 'locked' %}
                                    <br>
                                    <span class="text-dark">{{ record['comm_pincode'] }}</span>
                                {% else %}
                                   <input type="text" name="comm_pincode" id="comm_pincode"
                                       placeholder="Enter your pincode" class="form-control" 
                                       value="{{ record['comm_pincode'] }}" required>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                <div class="row m-0">
                    <div class="col-md-3 mt-2">
                        <div class="form-group">
                            <label for="comm_village">Select Communication Village
                                <span class="text-danger">*</span>
                            </label>
                            {% if record['lock_application_form'] == 'locked' %}
                                <br>
                                <span class="text-dark">{{ record['comm_village'] }}</span>
                            {% else %}
                            <select id="comm_village" name="comm_village" class="form-control" required>
                                {% if record['comm_village'] %}
                                    <option {% if record['comm_village'] %}selected{% endif %}>{{ record['comm_village'] }}</option>
                                {% else %}
                                    <option value="" selected>-- Select Village --</option>
                                    <!-- Village options will be populated via the API -->
                                {% endif %}
                            </select>
                                
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3 mt-2 {% if record['comm_village'] != 'Other' %}d-none{% endif %}" id="comm_other_village_container">
                        <div class="form-group">
                            <label for="comm_other_village">Other Village <span class="text-danger">*</span></label>
                            {% if record['lock_application_form'] == 'locked' %}
                                <br>
                                <span class="text-dark">{{ record['comm_other_village'] }}</span>
                            {% else %}
                                <input class="form-control" name="comm_other_village" id="comm_other_village"
                                        value="{{ record['comm_other_village'] }}"
                                        oninput="validateName(this)" maxlength="30" placeholder="Enter Other Village Name">
                            {% endif %}
                        </div>
                    </div>
                    {% if record.lock_application_form == 'locked' and record.comm_other_village %}
                        <div class="col-md-3 mt-2">
                            <div class="form-group">
                                <label for="comm_other_village">
                                    Other  Village
                                    <span class="text-danger">*</span>
                                </label>
                                    <br>
                                    <span class="text-dark">{{ record['comm_other_village'] }}</span>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-md-3 mt-2">
                        <div class="form-group">
                            <label for="comm_taluka">Taluka
                                <span class="text-danger">*</span>
                            </label>
                            {% if record['lock_application_form'] == 'locked' %}
                                <br>
                                <span class="text-dark">{{ record['comm_taluka'] }}</span>
                            {% else %}
                               <input type="text" name="comm_taluka" id="comm_taluka" class="form-control"
                                    placeholder="Select Village"  oninput="validateName(this)" maxlength="30" 
                                    value="{{ record['comm_taluka'] }}" required readonly>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3 mt-2">
                        <div class="form-group">
                            <label for="comm_district">District
                                <span class="text-danger">*</span>
                            </label>
                            {% if record['lock_application_form'] == 'locked' %}
                                <br>
                                <span class="text-dark">{{ record['comm_district'] }}</span>
                            {% else %}
                               <input type="text" name="comm_district" id="comm_district" class="form-control"
                                    placeholder="Select Village" oninput="validateName(this)" maxlength="30"
                                    value="{{ record['comm_district'] }}"  required readonly>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3 mt-2">
                        <div class="form-group">
                            <label for="comm_state">State
                                <span class="text-danger">*</span>
                            </label>
                            {% if record['lock_application_form'] == 'locked' %}
                                <br>
                                <span class="text-dark">{{ record['comm_state'] }}</span>
                            {% else %}
                               <input type="text" name="comm_state" id="comm_state" class="form-control"
                                    placeholder="Select Village" oninput="validateName(this)"
                                    value="{{ record['comm_state'] }}" maxlength="30"  required readonly>
                            {% endif %}
                        </div>
                    </div>
                </div>
                </div>

                <div class="m-0 ">
                    {% if record['lock_application_form'] == 'locked' %}
                    <div class="text-center">
                        <a href="/section2" class="btn btn-primary btn-sm ms-2">Next</a>
                    </div>
                    {% elif record['section1'] == 'filled' %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-sm ms-2">Update</button>
                        <a href="/section2" class="btn btn-primary btn-sm ms-2">Next</a>
                    </div>
                    {% else %}
                        <div class="form-check ms-2" style="padding:2rem;">
                            <input class="form-check-input" type="checkbox" value="" id="verifyDetails" required>
                            <label class="form-check-label" for="verifyDetails">
                                Please verify that the details entered in the First Section are correct before submitting. 
                                You will be able to make changes until you submit Section 5.
                            </label>
                            <br>
                
                            <input class="form-check-input" type="checkbox" value="" id="verifyDetailsHindi" required>
                            <label class="form-check-label" for="verifyDetailsHindi">
                                कृपया प्रथम विभाग सबमिट करण्यापूर्वी आपली दिलेली माहिती तपासा.
                                तुम्ही विभाग ५ सबमिट करेपर्यंत बदल करू शकणार आहात.
                            </label>
                        </div>
                        <div class="text-center">
                            <button type="submit" id="submit" class="btn btn-primary btn-sm ms-2" onclick="enableDisabledFields()" disabled>Save and Next</button>
                        </div>
                        
                    {% endif %}
                </div>


             </form>

        </div>
    </div>
</div>

<script src="/static/candidate_assets/js/applicationForm/section1.js"></script>

{% endblock %}