{% extends "Homepage/layout/layout.html" %}

{% block content %}

<div class="breadcrumbs px-10 my-5 font-third">
  <ol class="flex items-center">
    <li class="mx-2"><a href="/" cla>{{multilingual_content[language]['home']}}</a></li>
    <li class="text-black mx-2">
      <span class="material-symbols-outlined !text-gray-500 !text-base">
        arrow_forward
      </span>
    </li>
    <li class="text-black mx-2">{{multilingual_content[language]['contact_us']}}</li>
  </ol>
</div>

<section class="inner-page px-10">
  <div class="container-fluid">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-md-6">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60516.711485827!2d73.79868089615275!3d18.560758460720454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c0542a945bcf%3A0x75353ebf7194eb5b!2sDr%20Babasaheb%20Ambedkar%20Research%20and%20Training%20Institute!5e0!3m2!1sen!2sin!4v1736406966988!5m2!1sen!2sin"
              style="border:0;" allowfullscreen="" class="w-full h-150 rounded-lg" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
        </div>

        <!--  -->
        <div class="grid grid-cols-4 gap-4 mt-10">

          <div class="p-4 bg-indigo-300/20 rounded-xl border border-indigo-800 border-2 col-span-4 lg:col-span-1">
            <div>
              <span class="material-symbols-outlined !text-[45px] !text-indigo-800">
                location_on
              </span>
            </div>
            <h4 class="text-lg font-play text-indigo-800 font-semibold">
              {{ multilingual_content[language]['address'] }}
            </h4>
            <p class="font-third text-indigo-800 text-sm font-semibold leading-4  mt-6">{{
              multilingual_content[language]['about_title'] }}</p>

            <p class="font-third text-indigo-800 text-xs mt-2">{{ multilingual_content[language]['address_text'] }}</p>
          </div>


          <div class="p-4 bg-violet-300/20 rounded-xl border border-violet-800 border-2 col-span-4 lg:col-span-1">
            <div>
              <span class="material-symbols-outlined !text-[45px] !text-violet-800">
                call
              </span>
            </div>
            <h4 class="text-lg font-play text-violet-800 font-semibold">
              {{ multilingual_content[language]['call_us'] }}
            </h4>
            <p class="font-third text-violet-800 text-sm font-semibold leading-4  mt-6">
              020-26333330
            </p>
            <p class="font-third text-violet-800 text-sm font-semibold leading-4">
              020-26333339
            </p>
            <p class="font-third text-violet-800 text-sm font-semibold leading-4">
              020-26343600
            </p>

          </div>


          <div class="p-4 bg-blue-300/20 rounded-xl border border-blue-800 border-2 col-span-4 lg:col-span-1">
            <div>
              <span class="material-symbols-outlined !text-[45px] !text-blue-800">
                mail
              </span>
            </div>
            <h4 class="text-lg font-play text-blue-800 font-semibold">
              {{ multilingual_content[language]['email_us'] }}
            </h4>
            <p class="font-third text-blue-800 text-sm font-semibold leading-4  mt-6">
              helpdesk@barti.in
            </p>
            

          </div>

          <div class="p-4 bg-emerald-300/20 rounded-xl border border-emerald-800 border-2 col-span-4 lg:col-span-1">
            <div>
              <span class="material-symbols-outlined !text-[45px] !text-emerald-800">
                schedule
              </span>
            </div>
            <h4 class="text-lg font-play text-emerald-800 font-semibold">
              {{ multilingual_content[language]['open_hours'] }}
            </h4>
            <p class="font-third text-emerald-800 text-sm font-semibold leading-4  mt-6">
              {{ multilingual_content[language]['monday_friday'] }}
            </p>
            <p class="font-third text-emerald-800 text-sm font-semibold leading-4  mt-6">
              9:45AM - 06:30PM
            </p>
            

          </div>

        </div>
        <!--  -->

      </div>

    </section><!-- End Contact Section -->
  </div>
</section>

{% endblock %}