{% extends "Homepage/layout/layout.html" %}

{% block content %}

<!-- Breadcrum -->
<div class="breadcrumbs px-10 my-5 font-third">
    <ol class="flex items-center">
        <li class="mx-2"><a href="/" cla>{{multilingual_content[language]['home']}}</a></li>
        <li class="text-black mx-2">
            <span class="material-symbols-outlined !text-gray-500 !text-base">
                arrow_forward
            </span>
        </li>
        <li class="text-black mx-2">{{multilingual_content[language]['government_regulation']}}</li>
    </ol>
</div>

<div>

    <div class="grid grid-cols-2 gap-4 px-10 gap-4 font-third">
        <div class="p-3 bg-blue-300 rounded  ">
            <div class="flex items-center">
                <div class="mx-2">
                    <span class="material-symbols-outlined !text-blue-900 !text-2xl">
                        list_alt_check
                    </span>
                </div>
                <h4 class="text-xl font-semibold text-blue-900">
                    {{multilingual_content[language]['government_decision'] }}
                </h4>
            </div>

            <div class="px-3 py-5 bg-white rounded my-2">
                <div class="flex items-center gap-4">
                    <div>
                        <div class="w-8 h-8 flex items-center justify-center bg-blue-300 rounded-full">
                            <span class="material-symbols-outlined !text-xl !text-blue-900">
                                description
                            </span>
                        </div>
                    </div>
                    <div>
                        <h5 class="text-blue-900 font-semibold">
                            Government Resolution (GR)
                        </h5>
                        <p class="text-sm">Click to view the official government resolution document.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-3 bg-amber-300 rounded  ">
            <div class="flex items-center">
                <div class="mx-2">
                    <span class="material-symbols-outlined !text-amber-900 !text-2xl">
                        list_alt_check
                    </span>

                </div>
                <h4 class="text-xl font-semibold text-amber-900">
                    {{ multilingual_content[language]['circulars'] }}
                </h4>
                <p></p>
            </div>

            <div class="px-3 py-5 bg-white rounded my-2">
                <div class="flex items-center gap-4">
                    <div>

                        <div class="w-8 h-8 flex items-center justify-center bg-amber-300 rounded-full">
                            <span class="material-symbols-outlined !text-xl !text-amber-900">
                                help
                            </span>
                        </div>
                    </div>
                    <div>
                        <h5 class="text-amber-900 font-semibold">
                            No Information Available
                        </h5>
                        <p class="text-sm">Currently, there is nothing to view here. Once content is uploaded, it will
                            appear on this
                            page.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-3 bg-violet-300 rounded  ">
            <div class="flex items-center gap-2">
                <div class="mx-2">
                    <span class="material-symbols-outlined !text-violet-900 !text-2xl">
                        school
                    </span>

                </div>
                <h4 class="text-xl font-semibold text-violet-900">
                    {{ multilingual_content[language]['shcolarship_regulations'] }}
                </h4>



            </div>
            <p class="text-violet-900">Documents Needed for application form submission.</p>
            <div class="grid grid-cols-2 gap-x-4 gap-y-2">
                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <!-- <span class="material-symbols-outlined ">
                                    picture_as_pdf
                                </span> -->
                                <h3 class="!text-base !text-violet-900 font-bold font-play">1</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Adhaar Card / आधार कार्ड
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full font-play">
                                <!-- <span class="material-symbols-outlined !text-xl !text-violet-900">
                                    picture_as_pdf
                                </span> -->
                                <h3 class="!text-base !text-violet-900 font-bold font-play">2</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                PAN Card / पॅन कार्ड
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">3</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Domicile Certificate / अधिवास प्रमाणपत्र
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">4</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Caste Certificate / जातीचा दाखला
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">5</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Caste Validity Certificate / जात वैधता प्रमाणपत्र
                            </h5>
                        </div>
                    </div>
                </div>


                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">6</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Income Certificate
                                / उत्पन्नाचा दाखला
                            </h5>
                        </div>
                    </div>
                </div>


                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">7</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                10th Marksheet & Passing Certificate
                                / 10वी मार्कशीट आणि उत्तीर्ण प्रमाणपत्र
                            </h5>
                        </div>
                    </div>
                </div>


                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">8</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                12th Marksheet & Passing Certificate
                                / 12वी मार्कशीट आणि उत्तीर्ण प्रमाणपत्र
                            </h5>
                        </div>
                    </div>
                </div>


                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">9</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Diploma Marksheet & Passing Certificate
                                / डिप्लोमा मार्कशीट आणि उत्तीर्ण प्रमाणपत्र
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">10</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Graduation Marksheet & Passing Certificate
                                / पदवी मार्कशीट आणि उत्तीर्ण प्रमाणपत्र
                            </h5>
                        </div>
                    </div>
                </div>


                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">11</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Post-Graduation Marksheet & Passing Certificate /
                                पदव्युत्तर मार्कशीट आणि उत्तीर्ण प्रमाणपत्र
                            </h5>
                        </div>
                    </div>
                </div>


                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">12</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                NET/SET/PET/M.Phil Marksheet & Passing Certificate /
                                नेट/सेट/पीईटी/एम.फिल मार्कशीट आणि उत्तीर्ण प्रमाणपत्र
                            </h5>
                        </div>
                    </div>
                </div>


                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">13</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Ph.D Admission Receipt /
                                पीएच.डी प्रवेशाची पावती
                            </h5>
                        </div>
                    </div>
                </div>


                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">14</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Guide Allotment Letter /
                                मार्गदर्शक वाटप पत्र
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">15</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Guide Acceptance Letter / मार्गदर्शक स्वीकृती पत्र
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">16</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Letter of Acceptance from RAC/RRC / RAC/RRC कडून मान्यतेचे पत्र
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">17</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Confirmation Letter / पुष्टीकरण पत्र
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">18</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Research Center Joining Report / संशोधन केंद्र जॉईनिंग रिपोर्ट
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">19</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Kendra Pramukh - Sanyukta Pramanpatra / केंद्रप्रमुख - संयुक्त प्रमानपत्र
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">20</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                If Disabled - Disability Certificate / अक्षम असल्यास - अपंगत्व प्रमाणपत्र
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">21</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Change in Name - Gazette / नावात बदल - राजपत्र
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">22</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Acknowledgement of not getting scholarship from anywhere / कुठूनही शिष्यवृत्ती न
                                मिळाल्याची पावती
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center h-full gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-violet-300 rounded-full">
                                <h3 class="!text-base !text-violet-900 font-bold font-play">23</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-violet-900 font-semibold">
                                Research Synopsis/ Research Center Allotment letter / संशोधन सारांश/ संशोधन केंद्र वाटप
                                पत्र
                            </h5>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div class="p-3 bg-rose-400 rounded ">

            <div class="flex items-center gap-2">
                <div class="mx-2">
                    <span class="material-symbols-outlined !text-rose-900 !text-2xl">
                        breaking_news_alt_1
                    </span>
                </div>
                <h4 class="text-xl font-semibold text-rose-900">
                    Important Documents
                </h4>
            </div>


            <div class="grid grid-cols-2 gap-4">
                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-rose-300 rounded-full">
                                <h3 class="!text-base !text-rose-900 font-bold font-play">1</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-rose-900 font-semibold">
                                Joining Certificate: - Annexure –I (A)
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-rose-300 rounded-full">
                                <h3 class="!text-base !text-rose-900 font-bold font-play">2</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-rose-900 font-semibold">
                                Joining Certificate: - Annexure –I (B)
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-rose-300 rounded-full">
                                <h3 class="!text-base !text-rose-900 font-bold font-play">3</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-rose-900 font-semibold">
                                Half Yearly Progress Report- Annexure -II
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-rose-300 rounded-full">
                                <h3 class="!text-base !text-rose-900 font-bold font-play">4</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-rose-900 font-semibold">
                                House Rent Allowance (HRA) - Annexure - III
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-rose-300 rounded-full">
                                <h3 class="!text-base !text-rose-900 font-bold font-play">5</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-rose-900 font-semibold">
                                Utilization Certificate for Contingency Amount - Annexure -IV
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-rose-300 rounded-full">
                                <h3 class="!text-base !text-rose-900 font-bold font-play">6</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-rose-900 font-semibold">
                                Up-gradation Certificate- Annexure V
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-rose-300 rounded-full">
                                <h3 class="!text-base !text-rose-900 font-bold font-play">7</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-rose-900 font-semibold">
                                Extension Certificate - Annexure VI
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-rose-300 rounded-full">
                                <h3 class="!text-base !text-rose-900 font-bold font-play">8</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-rose-900 font-semibold">
                                Attendance Certificate - Annexure VII
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-rose-300 rounded-full">
                                <h3 class="!text-base !text-rose-900 font-bold font-play">9</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-rose-900 font-semibold">
                                Fellowship/ House Rent Allowance Utilization Certificate - Annexure VIII
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-rose-300 rounded-full">
                                <h3 class="!text-base !text-rose-900 font-bold font-play">10</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-rose-900 font-semibold">
                                Research proposal /Synopsis - Annexure IX
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="px-3 py-5 bg-white rounded my-2">
                    <div class="flex items-center gap-4">
                        <div>

                            <div class="w-8 h-8 flex items-center justify-center bg-rose-300 rounded-full">
                                <h3 class="!text-base !text-rose-900 font-bold font-play">11</h3>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-rose-900 font-semibold">
                                Continuation certificate - Annexure X
                            </h5>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>

</div>


{% endblock %}
<script>

</script>