<!doctype html>
<html class="scroll-smooth">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />

    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">

    <title>BARTI | Home</title>
    <style type="text/tailwindcss">
        @theme {
          --color-gold: #DABA9B;
          --color-light-gray: #F0F0F0;
          --font-primary : "Playfair Display", serif;
          --font-secondary : "Poppins", sans-serif;
          --font-third : "Platypi", serif;
          --font-fourth : "Playfair", serif;
          --font-play : "Play", sans-serif;
        }
    </style>
    <link rel="stylesheet" href="/static/carousel/assets/owl.carousel.min.css">
    <script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>

</head>

<body class="overflow-x-hidden">
    <!-- Header Code -->
    <header>
        <!-- top head section -->
        <div class="py-1 bg-blue-950 px-10 flex items-center justify-between">
            <div class="flex">
                <h5 class="text-clifford font-primary text-base tracking-wider text-xs mb-1 me-4 text-white">
                    <span class="material-symbols-rounded !text-sm mb-0 me-1">
                        mail
                    </span>
                    helpdesk@barti.in
                </h5>
                <h5 class="text-clifford font-secondary text-base tracking-wider text-xs text-white">
                    <span class="material-symbols-rounded !text-sm mb-0 me-1">
                        phone_in_talk
                    </span>
                    020-26333330, 26333339, 26343600
                </h5>
            </div>
            <div class="flex items-center">
                <span class="text-white font-primary text-xs me-3">Skip to Main Content</span>
                <div>
                    <span class="text-xs font-primary text-white px-3 border-l">A-</span>
                    <span class="text-xs font-primary text-white px-3 border-l">A</span>
                    <span class="text-xs font-primary text-white px-3 border-l">A+</span>
                    <span class="text-xs font-primary text-white px-3 border-l">English</span>
                    <span class="text-xs font-primary text-white px-3 border-l">Marathi</span>
                    <span class="text-xs font-primary text-white px-3 border-l">Admin Login</span>
                </div>
            </div>
        </div>


        <!-- Logo and branding section -->
        <div class="py-10 bg-slate-100">
            <div class="w-[95%] mx-auto flex justify-between">
                <div class="flex">
                    <img src="http://192.168.10.65/assets/img/emblem_logo.svg" class="h-20 object-contain mx-3" alt="">
                    <img src="/static/carousel/images/barti-2.png" class="h-20 object-contain mx-3" alt="">
                </div>
                <div class="leading-7 text-center">
                    <h5 class="text-[30px] font-primary font-bold text-blue-950 mb-0 ">
                        Dr. Babasaheb Ambedkar Research and Training Institute
                    </h5>
                    <p class="text-blue-950 text-sm font-primary mt-1">
                        (An Autonomous Institute of the Department of Social Justice and Special Assistance, Government
                        of Maharashtra)
                    </p>
                    <h5 class="font-secondary font-semibold text-sky-700 text-[27px] mt-3">
                        National Research Fellowship (BANRF)
                    </h5>
                </div>
                <div class="flex">
                    <img src="https://www.barti.in/assets/barti/header_logo/666972c404631.svg"
                        class="h-20 object-contain mx-3" alt="">
                    <img src="https://www.barti.in/assets/barti/header_logo/675a864ad4d63.jpeg"
                        class="h-20 object-contain mx-3" alt="">
                </div>
            </div>
        </div>

        <!-- leader section -->
        <div class="py-3 px-10  " data-taos-offset="0">
            <div class="owl-carousel owl-theme px-3">
                <div class="item border border-sky-700 rounded-lg shadow p-3 h-full">
                    <div class="grid grid-cols-4 gap-1 place-items-center">
                        <div class="">
                            <img src="http://192.168.10.69:85/static/assets/img/leaders/devpha.png" class="!w-15 !h-15 object-contain rounded-full shadow-xl" alt="User">
                        </div>
                        <div class="col-span-3">
                            <h4 class="font-fourth font-bold text-base text-blue-950">
                                Shri. Devendra Fadnavis
                            </h4>
                            <p class="text-xs font-poppins text-sky-700">
                                Hon'ble Chief Minister, Maharashtra State
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item border border-sky-700 rounded-lg shadow p-3 h-full">
                    <div class="grid grid-cols-4 gap-1 place-items-center">
                        <div class="">
                            <img src="http://192.168.10.69:85/static/assets/img/leaders/ekshi.png" class="!w-15 !h-15 object-contain shadow-xl rounded-full" alt="User">
                        </div>
                        <div class="col-span-3">
                            <h4 class="font-fourth font-bold text-base text-blue-950">
                                Shri. Eknath Shinde
                            </h4>
                            <p class="text-xs font-poppins text-sky-700">
                                Hon'ble Deputy Chief Minister, Maharashtra State
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item border border-sky-700 rounded-lg shadow p-3 h-full">
                    <div class="grid grid-cols-4 gap-1 place-items-center">
                        <div class="">
                            <img src="http://192.168.10.69:85/static/assets/img/leaders/ajitpawar.jpg" class="!w-15 !h-15 object-contain shadow-xl rounded-full" alt="User">
                        </div>
                        <div class="col-span-3">
                            <h4 class="font-fourth font-bold text-base text-blue-950">
                                Shri. Ajit Pawar
                            </h4>
                            <p class="text-xs font-poppins text-sky-700">
                                Hon'ble Deputy Chief Minister, Maharashtra State
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item border border-sky-700 rounded-lg shadow p-3 h-full">
                    <div class="grid grid-cols-4 gap-1 place-items-center">
                        <div class="">
                            <img src="https://www.barti.in/assets/barti/members/6767ea76310e8.jpg" class="!w-15 !h-15 object-contain rounded-full shadow-xl" alt="User">
                        </div>
                        <div class="col-span-3">
                            <h4 class="font-fourth font-bold text-base text-blue-950">
                                Mr. Sanjay Shirsat
                            </h4>
                            <p class="text-xs font-poppins text-sky-700">
                                Hon'ble Minister of Social Justice, Government of Maharashtra
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item border border-sky-700 rounded-lg shadow p-3 h-full">
                    <div class="grid grid-cols-4 gap-1 place-items-center">
                        <div class="">
                            <img src="https://www.barti.in/assets/barti/members/6767ed65de550.jpg" class="!w-15 !h-15 object-contain rounded-full shadow-xl" alt="User">
                        </div>
                        <div class="col-span-3">
                            <h4 class="font-fourth font-bold text-base text-blue-950">
                                Mrs. Madhuri Misal
                            </h4>
                            <p class="text-xs font-poppins text-sky-700">
                                Hon'ble State Minister of Social Justice, Government of Maharashtra
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item border border-sky-700 rounded-lg shadow p-3 h-full">
                    <div class="grid grid-cols-4 gap-1 place-items-center">
                        <div class="">
                            <img src="http://192.168.10.69:85/static/assets/img/leaders/HarshdeepKamble.jpeg" class="!w-15 !h-15 object-contain rounded-full shadow-xl" alt="User">
                        </div>
                        <div class="col-span-3">
                            <h4 class="font-fourth font-bold text-base text-blue-950">
                                Dr. Harshdeep Kamble, I.A.S.
                            </h4>
                            <p class="text-xs font-poppins text-sky-700">
                                Honb'le Principal secretary, Social Justice and Special Assistance Department
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item border border-sky-700 rounded-lg shadow p-3 h-full">
                    <div class="grid grid-cols-4 gap-1 place-items-center">
                        <div class="">
                            <img src="https://www.barti.in/assets/barti/members/6767eebd61294.png" class="!w-15 !h-15 object-contain rounded-full shadow-xl" alt="User">
                        </div>
                        <div class="col-span-3">
                            <h4 class="font-fourth font-bold text-base text-blue-950">
                                Mr. Sunil Ware, IRAS
                            </h4>
                            <p class="text-xs font-poppins text-sky-700">
                                Director General, Dr. Babasaheb Ambedkar Research and Training Institute (BARTI), Pune
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- menu section -->
        <div class="bg-sky-600">
            <!-- Desktop Nav menu -->
            <div class="flex justify-between w-[95%] mx-auto items-center">
                <ul class=" flex items-center">
                    <a href="/">
                        <li class="py-2 px-4 bg-white border border-sky-700 rounded font-third text-blue-950">
                            Home
                        </li>
                    </a>
                    <a href="/aboutus">
                        <li
                            class="py-2 px-4 border-1 border-transparent rounded font-third text-white hover:bg-white
                             transition-all duration-300 hover:text-blue-950 hover:border-1 hover:border-sky-700">
                            About us
                        </li>
                    </a>
                    <a href="/gr_page">
                        <li
                            class="py-2 px-4 border-1 border-transparent rounded font-third text-white hover:bg-white
                             transition-all duration-300 hover:text-blue-950 hover:border-1 hover:border-sky-700">
                            Circulars/Orders
                        </li>
                    </a>
                    <a href="/contact">
                        <li
                            class="py-2 px-4 border-1 border-transparent rounded font-third text-white hover:bg-white
                             transition-all duration-300 hover:text-blue-950 hover:border-1 hover:border-sky-700">
                            Contact Us
                        </li>
                    </a>
                </ul>

                <div>
                    <a href="/login" class="py-2 px-4 bg-white rounded hover:bg-slate-100 transition-all duration-200">
                        <span class="material-symbols-rounded mb-0 !text-sm">
                            login
                        </span>
                        Login | Signup</a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <!-- Scroll News -->
        <section>
            <div class="scrolling-text-container-top">
                <div class="scrolling-text-inner font-third text-sm"
                    style="--marquee-speed: 15s; --direction:scroll-left" role="marquee">
                    <div class="scrolling-text-top">
                        {% for row in news_record %}
                        <div class="scrolling-text-item text-sm flex">{{ row['title'] }}
                            <img src="https://trti.maharashtra.gov.in/homepage/images/new.gif"
                                 class="w-8 mx-2" alt="">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <!-- Hero Section -->
        <section id="hero">
            <div class=" bg-blue-200 grid grid-cols-3">
                <div class="banner h-full flex-4 col-span-2">
                    <img src="/static/carousel/images/banner.png" class="h-full w-full object-cover" alt="">
                </div>
                <div class="bg-slate-100 h-full flex-2 ">
                    <div class="py-2 bg-blue-950">
                        <h4 class="text-white font-primary text-xl text-center">Latest updates</h4>
                    </div>
                    <div class="h-full ">
                        <section class="h-full relative">
                            <div class="scrolling-text-container-top h-7/10">

                                <div class="scrolling-text-inner font-third text-sm h-full"
                                    style="--marquee-speed: 15s; --direction:scroll-up" role="marquee">
                                    <div class="">
                                        {% for row in news_record %}
                                        <div
                                            class="scrolling-text-item text-sm text-wrap  border-dashed border-sky-700 border-b !py-3 flex">
                                            {{ row['title'] }}
                                            <img src="https://trti.maharashtra.gov.in/homepage/images/new.gif" class="w-8 mx-2" alt="">
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div>
                            <div class="flex items-center overflow-hidden absolute w-full bottom-12">
                                <button
                                    class="w-full py-3 px-2 h-full bg-sky-600 font-primary font-bold text-lg text-white tracking-wider duration-[600ms] taos:translate-y-[100%] taos:opacity-0">
                                    Dr. Babasaheb Ambedkar National Research Fellowship (BANRF) <br> Register here
                                    <span class="material-symbols-rounded !text-2xl">
                                        trending_flat
                                    </span>
                                </button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <!-- Count section -->
        <section id="count">
            <div class="grid grid-cols-4">
                <div>
                    <h4 class="count text-center text-[60px]" data-target="{{ total_count }}">{{ total_count }}</h4>
                    <p class="text-center delay-[400ms] duration-[600ms] taos:translate-y-[100%] taos:opacity-0">{{ multilingual_content[language]['total_applications'] }}</p>
                </div>
                <div>
                    <h4 class="count text-center text-[60px] font-secondary counter" data-target="{{ fellow_awarded }}">{{ fellow_awarded }}</h4>
                    <p class="text-center delay-[450ms] duration-[600ms] taos:translate-y-[100%] taos:opacity-0">{{ multilingual_content[language]['fellowship_awarded'] }}</p>
                </div>
                <div>
                    <h4 class="count text-center text-[60px] font-secondary counter" data-target="{{ total_appl_22 }}">{{ total_appl_22 }}</h4>
                    <p class="text-center delay-[500ms] duration-[600ms] taos:translate-y-[100%] taos:opacity-0">{{ multilingual_content[language]['total_applications_2022'] }}</p>
                </div>
                <div>
                    <h4 class="count text-center text-[60px] font-secondary counter" data-target="{{ total_appl_2 }}">{{ total_appl_2 }}</h4>
                    <p class="text-center delay-[550ms] duration-[600ms] taos:translate-y-[100%] taos:opacity-0">{{ multilingual_content[language]['this_yrs_application'] }}</p>
                </div>
            </div>
        </section>

        <section id="about_barti" class="py-10">
            <div class="grid grid-cols-3">
                <div class="pl-10">
                    <h3
                        class="text-3xl font-bold text-blue-950 font-fourth delay-[300ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                        About The Institution</h3>
                    <h3
                        class="text-xl font-bold text-sky-600 font-fourth leading-6 delay-[350ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                        Dr. Babasaheb Ambedkar Research and
                        Training Institute (BARTI), Pune</h3>
                    <p
                        class="text-justify font-fourth my-6 delay-[400ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                        To realize the vision of the architect of the Constitution of India, Dr. Babasaheb Ambedkar; To
                        achieve the objectives enshrined in the Constitution of India viz. Justice, Liberty, Equality,
                        Fraternity among the peoples of our nation; To uplift the disadvantaged sections of the society,
                        from the vortex of blind faith, superstition, communal hatred, caste bias, To obliterate
                        disparity
                        based on sects or gender and develop brotherhood, Scientific temperament and Communal harmony,
                        the
                        Government of Maharashtra in Cultural Affairs, Sports & Tourism Department, vide No. UTA,
                    </p>
                    <button
                        class="w-full mt-3 py-3 bg-blue-950 rounded font-fourth text-white text-lg rounded-lg delay-[420ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">Read
                        more</button>
                </div>
                <div class="col-span-2">
                    <img src="static/carousel/images/barti_building.png" class="float-right" alt="">
                </div>
            </div>
        </section>

        <section id="criteria">
            <div class="pt-8 px-10">
                <h3
                    class="text-3xl font-bold text-blue-950 font-fourth delay-[300ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    Criteria</h3>
                <div>
                    <h3
                        class="text-xl font-bold text-sky-600 font-fourth leading-6 delay-[350ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0 mt-8">
                        Scheme Benefits</h3>

                    <div>
                        <p
                            class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[100ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                            Junior Research Fellowhsip will get Rs. 31,000/- each Quarter for 2 Years.</p>
                        <p
                            class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[150ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                            Senior Research Fellowhsip will get Rs. 35,000/- each Quarter for 3 Years.</p>
                        <p
                            class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[200ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                            As per revised fellowship amount JRF is 37,000/- and SRF is 42,000/-</p>
                        <p
                            class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[250ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                            Contingency for JRF will be 10,000/- and 12,000/- for Social Science and Science
                            Respectively.
                        </p>
                        <p
                            class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[300ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                            Contingency for SRF will be 20,500/- and 25,000/- for Social Science and Science
                            Respectively.
                        </p>
                        <p
                            class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[350ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                            Escort Reader for Disabled candidate will be 2000/- per month.</p>
                        <div class="text-end">
                            <button
                                class="px-8 py-1 bg-blue-950 mt-3 rounded-lg text-white delay-[350ms] duration-[600ms] taos:translate-x-[100%] taos:opacity-0">Read
                                more
                                <span class="material-symbols-outlined !text-sm ">
                                    keyboard_double_arrow_right
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-15">
                    <h3
                        class="text-xl font-bold text-sky-600 font-fourth leading-6 delay-[350ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0 mt-8">
                        Eligibility Criteria</h3>

                    <div>
                        <p
                            class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[100ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                            The applicant should be a resident of the state of Maharashtra.</p>
                        <p
                            class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[150ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                            It is necessary for the community of the applicant to be included in the list of Scheduled
                            Caste
                            in the state of Maharashtra.</p>
                        <p
                            class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[200ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                            For this scheme, it is mandatory for the applicant to have a valid Caste certificate and
                            Validity Certificate of scheduled Caste at the time of applying.</p>
                        <div class="text-end">
                            <button
                                class="px-8 py-1 bg-blue-950 mt-3 rounded-lg text-white delay-[350ms] duration-[600ms] taos:translate-x-[100%] taos:opacity-0">Read
                                more
                                <span class="material-symbols-outlined !text-sm ">
                                    keyboard_double_arrow_right
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="how_to_apply" class="px-10 mt-25 mb-10">
            <h3
                class="text-3xl font-bold text-blue-950 font-fourth delay-[300ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                Criteria</h3>

            <div>
                <div class="grid grid-cols-5">
                    <div class="relative h-full mt-20 delay-[300ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                        <h4 class="font-play text-2xl font-semibold">Step 1</h4>
                        <p class="font-secondary text-sm w-3/4 mt-8"> Create Your Login or Sign on site</p>
                        <h4
                            class="font-play text-[220px] font-bold text-light-gray text-end pe-3 absolute top-10 left-20 leading-0 -z-1">
                            1</h4>
                    </div>
                    <div class="relative h-full mt-20 delay-[450ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                        <h4 class="font-play text-2xl font-semibold">Step 2</h4>
                        <p class="font-secondary text-sm w-3/4 mt-8"> Fill Application Form</p>
                        <h4
                            class="font-play text-[220px] font-bold text-light-gray text-end pe-3 absolute top-10 left-20 leading-0 -z-1">
                            2</h4>
                    </div>
                    <div class="relative h-full mt-20 delay-[550ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                        <h4 class="font-play text-2xl font-semibold">Step 3</h4>
                        <p class="font-secondary text-sm w-3/4 mt-8"> Get Selected by Admin</p>
                        <h4
                            class="font-play text-[220px] font-bold text-light-gray text-end pe-3 absolute top-10 left-20 leading-0 -z-1">
                            3</h4>
                    </div>
                    <div class="relative h-full mt-20 delay-[650ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                        <h4 class="font-play text-2xl font-semibold">Step 4</h4>
                        <p class="font-secondary text-sm w-3/4 mt-8"> Upload Joining Letter of PhD</p>
                        <h4
                            class="font-play text-[220px] font-bold text-light-gray text-end pe-3 absolute top-10 left-20 leading-0 -z-1">
                            4</h4>
                    </div>
                    <div class="relative h-full mt-20 delay-[550ms] duration-[750ms] -taos:translate-x-[100%] taos:opacity-0">
                        <h4 class="font-play text-2xl font-semibold">Step 5</h4>
                        <p class="font-secondary text-sm w-3/4 mt-8"> Upload Joining Letter of PhD</p>
                        <h4
                            class="font-play text-[220px] font-bold text-light-gray text-end pe-3 absolute top-10 left-20 leading-0 -z-1">
                            5</h4>
                    </div>
                </div>
            </div>
        </section>

        <!-- FAQ section  -->
        <section id="faq" class="px-10 mt-25">
            <h3
                class="text-3xl font-bold text-blue-950 font-fourth delay-[300ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                FAQ</h3>
            <div
                class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[100ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0 mt-5">
                <h4 class="text-lg font-semibold">How many Fellows do you select ?</h4>
                <p>We hire 100 students every year</p>
            </div>
            <div
                class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[150ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                <h4 class="text-lg font-semibold">I wasn’t selected, can I receive feedback on my application ?</h4>
                <p>We will send you feedback through email, and it will be reflected on your dashboard as well.</p>
            </div>
        </section>
    </main>

    <footer class="mt-15">
        <section id="top_header" class=" py-10 bg-slate-100 px-10">
            <div class="grid grid-cols-3">
                <div>
                    <div class="">
                        <img src="/static/carousel/images/barti-2.png" class="h-15 object-contain">
                        <h4 class="font-third w-75 leading-5 mt-3 text-sm text-blue-950">
                            Dr. Babasaheb Ambedkar Research and Training Institute (BANRF)
                        </h4>

                        <p class="text-sky-600 font-third text-xs mt-5 w-8/10">
                            28, Queen's Garden Rd, Near Old Circuit House, Camp, Pune, Maharashtra, 411001
                        </p>
                    </div>
                </div>
                <div class="col-span-2">
                    <div class="grid grid-cols-3">


                        <div>
                            <h4 class="font-primary font-bold text-blue-950">
                                Quick Links
                            </h4>
                            <ul class="mt-5 pl-1">
                                <li class="font-third text-sky-600 text-sm my-2">
                                    <a href="">
                                        Tenders
                                    </a>
                                </li>
                                <li class="font-third text-sky-600 text-sm my-2">
                                    <a href="">
                                        Forms
                                    </a>
                                </li>
                                <li class="font-third text-sky-600 text-sm my-2">
                                    <a href="">
                                        Contact Us
                                    </a>
                                </li>
                                <li class="font-third text-sky-600 text-sm my-2">
                                    <a href="">
                                        Careers
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <h4 class="font-primary font-bold text-blue-950">
                                Legal
                            </h4>
                            <ul class="mt-5 pl-1">
                                <li class="font-third text-sky-600 text-sm my-2">
                                    <a href="">
                                        Terms and Conditions
                                    </a>
                                </li>
                                <li class="font-third text-sky-600 text-sm my-2">
                                    <a href="">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li class="font-third text-sky-600 text-sm my-2">
                                    <a href="">
                                        Copyright Policy
                                    </a>
                                </li>
                                <li class="font-third text-sky-600 text-sm my-2">
                                    <a href="">
                                        Hyperlink Policy
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <h4 class="font-primary font-bold text-blue-950">
                                Contact Us
                            </h4>
                            <ul class="mt-5 pl-1">
                                <li class="font-third text-sky-600 text-sm my-2">
                                    <span class="material-symbols-outlined !text-base">
                                        phone_in_talk
                                    </span>
                                    020-26333330, 26333339, 26343600
                                </li>
                                <li class="font-third text-sky-600 text-sm my-2">
                                    <span class="material-symbols-outlined !text-base">
                                        mail
                                    </span>
                                    helpdesk@barti.in
                                </li>
                                <!-- <li class="font-third text-sky-600 text-sm my-2">
                                    <a href="">
                                        Copyright Policy
                                    </a>
                                    <a href="">
                                        Copyright Policy
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section id="copyright" class="py-2 bg-sky-600 px-10">
            <h4 class="font-third text-white text-sm">Website Content Owned & Managed by Dr. Babasaheb Ambedkar Research
                and Training Institute&nbsp;|&nbsp;Maharashtra, India</h4>
        </section>
    </footer>
</body>

<style>
    /* Container styles */
    .scrolling-text-container-top {
        /* background-color: #eff5ff; */
        border-radius: 4px;
        overflow: hidden;
    }

    /* Inner container styles */
    .scrolling-text-inner {
        display: flex;
        white-space: nowrap;
        font-size: 16px;
        font-weight: 600;
        padding: 8px 0;
    }

    /* Text styles */
    .scrolling-text-top {
        display: flex;
    }

    .scrolling-text-item {
        padding: 0 30px;
    }

    /* Apply the animation to the text items */
    .scrolling-text-inner>div {
        animation: var(--direction) var(--marquee-speed) linear infinite;
    }

    /* Pause the animation when a user hovers over it */
    .scrolling-text-container-top:hover .scrolling-text-inner>div {
        animation-play-state: paused;
    }

    /* Setting the Animation using Keyframes */
    @keyframes scroll-left {
        0% {
            transform: translateX(100vw);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes scroll-right {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0%);
        }
    }

    @keyframes scroll-up {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(-100%);
        }
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/carousel/owl.carousel.min.js"></script>
<script>
    $('.owl-carousel').owlCarousel({
        autoplay: true,
        smartSpeed: 500,
        margin: 5,
        loop: false, // Enable infinite loop
        center: false,
        dots: false,
        nav: false,
        rewind: true,
        responsive: {
            0: { items: 1 },
            576: { items: 1 },
            768: { items: 2 },
            992: { items: 4 },
            1500: { items: 4 },
            1900: { items: 4 },
        }
    })


    const counters = document.querySelectorAll(".counter");

    counters.forEach((counter) => {
        counter.innerText = "0";
        const updateCounter = () => {
            const target = +counter.getAttribute("data-target");
            const count = +counter.innerText;
            const increment = target / 200;
            if (count < target) {
                counter.innerText = `${Math.ceil(count + increment)}`;
                setTimeout(updateCounter, 25);
            } else counter.innerText = target;
        };
        updateCounter();
    });

</script>

</html>