{% extends "Homepage/layout/layout.html" %}

{% block content %}


<!-- Scroll News -->
<section>
    <div class="scrolling-text-container-top">
        <div class="scrolling-text-inner font-third text-sm" style="--marquee-speed: 35s; --direction:scroll-left"
            role="marquee">
            <div class="scrolling-text-top">
                {% for row in news_record %}
                <div class="scrolling-text-item text-sm flex">{{ row['title'] }}
                    <img src="https://trti.maharashtra.gov.in/homepage/images/new.gif" class="w-8 mx-2" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- Hero Section -->
<section id="hero">
    <div class=" bg-blue-200 grid grid-cols-3">
        <div class="banner h-full flex-4 col-span-2">
            <img src="/static/carousel/images/banner.png" class="h-full w-full object-cover" alt="">
        </div>
        <div class="bg-slate-100 h-full flex-2 ">
            <div class="py-2 bg-blue-950">
                <h4 class="text-white font-primary text-xl text-center">{{
                    multilingual_content[language]['latest_update'] }}</h4>
            </div>
            <div class="h-full ">
                <section class="h-full relative">
                    <div class="scrolling-text-container-top h-7/10">

                        <div class="scrolling-text-inner font-third text-sm h-full"
                            style="--marquee-speed: 15s; --direction:scroll-up" role="marquee">
                            <div class="">
                                {% for row in news_record %}
                                <div
                                    class="scrolling-text-item text-sm text-wrap  border-dashed border-sky-700 border-b !py-3 flex">
                                    {{ row['title'] }}
                                    <img src="https://trti.maharashtra.gov.in/homepage/images/new.gif" class="w-8 mx-2"
                                        alt="">
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <div class="flex items-center overflow-hidden absolute w-full bottom-12">
                        <button
                            class="w-full py-3 px-2 h-full bg-sky-600 font-primary font-bold text-lg text-white tracking-wider duration-[600ms] taos:translate-y-[100%] taos:opacity-0">
                            {{ multilingual_content[language]['register_btn'] }}
                            <br>
                            {{ multilingual_content[language]['register_btn1'] }}

                            <span class="material-symbols-rounded !text-2xl">
                                trending_flat
                            </span>
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<!-- Count section -->
<section id="count">
    <div class="grid grid-cols-4">
        <div>
            <h4 class="count text-center text-[60px]" data-target="{{ total_count }}">{{ total_count }}</h4>
            <p class="text-center delay-[400ms] duration-[600ms] taos:translate-y-[100%] taos:opacity-0">{{
                multilingual_content[language]['total_applications'] }}</p>
        </div>
        <div>
            <h4 class="count text-center text-[60px] font-secondary counter" data-target="{{ fellow_awarded }}">{{
                fellow_awarded }}</h4>
            <p class="text-center delay-[450ms] duration-[600ms] taos:translate-y-[100%] taos:opacity-0">{{
                multilingual_content[language]['fellowship_awarded'] }}</p>
        </div>
        <div>
            <h4 class="count text-center text-[60px] font-secondary counter" data-target="{{ total_appl_22 }}">{{
                total_appl_22 }}</h4>
            <p class="text-center delay-[500ms] duration-[600ms] taos:translate-y-[100%] taos:opacity-0">{{
                multilingual_content[language]['total_applications_2022'] }}</p>
        </div>
        <div>
            <h4 class="count text-center text-[60px] font-secondary counter" data-target="{{ total_appl_2 }}">{{
                total_appl_2 }}</h4>
            <p class="text-center delay-[550ms] duration-[600ms] taos:translate-y-[100%] taos:opacity-0">{{
                multilingual_content[language]['this_yrs_application'] }}</p>
        </div>
    </div>
</section>

<section id="about_barti" class="py-10">
    <div class="grid grid-cols-3">
        <div class="pl-10">
            <h3
                class="text-3xl font-bold text-blue-950 font-fourth delay-[300ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                {{ multilingual_content[language]['about_the_institute'] }}</h3>
            <h3
                class="text-xl font-bold text-sky-600 font-fourth leading-6 delay-[350ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                {{ multilingual_content[language]['about_title'] }}</h3>
            <p
                class="text-justify font-fourth my-6 delay-[400ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                {% if(language == 'english') %}
                <span class="h3">T</span>o realize the vision of the architect of the Constitution of India,
                Dr. Babasaheb Ambedkar; To achieve the objectives enshrined in the Constitution of India viz.
                Justice, Liberty, Equality, Fraternity among the peoples of our nation; To uplift the disadvantaged
                sections of the society, from the vortex of blind faith, superstition, communal hatred, caste bias,
                To obliterate disparity based on sects or gender and develop brotherhood, Scientific temperament and
                Communal harmony, the Government of Maharashtra in Cultural Affairs, Sports & Tourism Department,
                vide No. UTA, 1078 / D-XXV dated 22nd December, 1978 established “Dr. Babasaheb Ambedkar Samata Vichar
                Peeth”.
                This Samta Peeth started functioning on 12th March 1979 from the premises of Mahatma Phule
                Backward Classes Development Corporation Ltd, Mumbai. By Govt. order, Dr. Babasaheb Ambedkar
                Samata Vichar Peeth was relocated to Pune at the present address- 28, Queens Garden, Pune,
                on 11th February 1987.
                {% else %}
                <span class="h3">भा</span>रतीय राज्यघटनेचे शिल्पकार डॉ.बाबासाहेब आंबेडकर यांची दूरदृष्टी साकार
                करण्यासाठी; ला भारतीय
                राज्यघटनेत नमूद केलेली उद्दिष्टे साध्य करणे उदा. न्याय, स्वातंत्र्य, समानता, आपल्या राष्ट्रातील
                लोकांमध्ये बंधुभाव; समाजातील वंचित
                घटकांच्या उन्नतीसाठी, अंधश्रद्धा, अंधश्रद्धा, जातीय द्वेष, जातीय भेदभाव यांच्या भोवऱ्यातून, विषमता नष्ट
                करण्यासाठी पंथ किंवा लिंग यावर
                आधारित आणि बंधुता, वैज्ञानिक स्वभाव आणि सांप्रदायिक सौहार्द विकसित करणे, महाराष्ट्र शासन सांस्कृतिक
                कार्य, क्रीडा आणि पर्यटन विभाग,
                क्रमांक UTA, 1078 / द्वारे D-XXV दिनांक 22 डिसेंबर 1978 ची स्थापना “डॉ. बाबासाहेब आंबेडकर समता विचार
                पीठ”. हा समता पीठाचे
                कामकाज 12 मार्च 1979 रोजी महात्मा फुले मागासवर्गीयांच्या आवारातून सुरू झाले. डेव्हलपमेंट कॉर्पोरेशन
                लिमिटेड, मुंबई. शासनाकडून आदेश,
                डॉ.बाबासाहेब आंबेडकर समता विचार पीठ होते 11 फेब्रुवारी 1987 रोजी पुण्यात सध्याच्या पत्त्यावर - 28,
                क्वीन्स गार्डन, पुणे येथे स्थलांतरित झाले.
                {% endif %}
            </p>
            <button
                class="w-full mt-3 py-3 bg-blue-950 rounded font-fourth text-white text-lg rounded-lg delay-[420ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">{{
                multilingual_content[language]['read_more'] }}</button>
        </div>
        <div class="col-span-2">
            <img src="static/carousel/images/barti_building.png" class="float-right" alt="">
        </div>
    </div>
</section>

<section id="criteria">
    <div class="pt-8 px-10">
        <h3
            class="text-3xl font-bold text-blue-950 font-fourth delay-[300ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
            {{ multilingual_content[language]['criteria'] }}</h3>
        <div>
            <h3
                class="text-xl font-bold text-sky-600 font-fourth leading-6 delay-[350ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0 mt-8">
                {{ multilingual_content[language]['scheme_benefits'] }}</h3>

            <div>
                {% if(language == 'english') %}
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[100ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    Junior Research Fellowhsip will get Rs. 31,000/- each Quarter for 2 Years.</p>
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[150ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    Senior Research Fellowhsip will get Rs. 35,000/- each Quarter for 3 Years.</p>
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[200ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    As per revised fellowship amount JRF is 37,000/- and SRF is 42,000/-</p>
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[250ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    Contingency for JRF will be 10,000/- and 12,000/- for Social Science and Science
                    Respectively.
                </p>
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[300ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    Contingency for SRF will be 20,500/- and 25,000/- for Social Science and Science
                    Respectively.
                </p>
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[350ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    Escort Reader for Disabled candidate will be 2000/- per month.
                </p>
                {% else %}

                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[100ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    कनिष्ठ संशोधन फेलोशिपला 2 वर्षांसाठी प्रत्येक तिमाहीत रु. 31,000/- मिळतील.</p>
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[150ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    वरिष्ठ संशोधन फेलोशिपला 3 वर्षांसाठी प्रत्येक तिमाहीत रु. 35,000/- मिळतील.</p>
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[200ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    सुधारित फेलोशिप रकमेनुसार, जेआरएफसाठी 37,000/- आणि एसआरएफसाठी 42,000/- आहेत.</p>
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[250ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    जेआरएफसाठी आकस्मिकता 10,000/- आणि सामाजिक विज्ञान आणि विज्ञानसाठी अनुक्रमे 12,000/- असेल.
                </p>
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[300ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    एसआरएफसाठी आकस्मिकता 20,500/- आणि सामाजिक विज्ञान आणि विज्ञानसाठी अनुक्रमे 25,000/- असेल.
                </p>
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[350ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    दिव्यांग उमेदवारासाठी एस्कॉर्ट रीडरला प्रति महिना 2000/- मिळतील.
                </p>
                {% endif %}

                <div class="text-end">
                    <button
                        class="px-8 py-1 bg-blue-950 mt-3 rounded-lg text-white delay-[350ms] duration-[600ms] taos:translate-x-[100%] taos:opacity-0">{{
                        multilingual_content[language]['read_more'] }}
                        <span class="material-symbols-outlined !text-sm ">
                            keyboard_double_arrow_right
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="mt-15">
            <h3
                class="text-xl font-bold text-sky-600 font-fourth leading-6 delay-[350ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0 mt-8">
                {{ multilingual_content[language]['eligibility_criteria'] }}
            </h3>

            <div>
                {% if(language == 'english') %}
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[100ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    The applicant should be a resident of the state of Maharashtra.
                </p>
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[150ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    It is necessary for the community of the applicant to be included in the list of Scheduled
                    Caste
                    in the state of Maharashtra.
                </p>
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[200ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    For this scheme, it is mandatory for the applicant to have a valid Caste certificate and
                    Validity Certificate of scheduled Caste at the time of applying.
                </p>
                {% else %}
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[100ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    अर्जदार महाराष्ट्राचा रहिवासी असावा.
                </p>
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[150ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    अर्जदाराच्या समुदायाचा महाराष्ट्रातील अनुसूचित जातीच्या यादीत समावेश असणे आवश्यक आहे.
                </p>
                <p
                    class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[200ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                    या योजनेसाठी, अर्जदाराकडे अर्ज करताना अनुसूचित जातीचे वैध जाती प्रमाणपत्र आणि वैधता प्रमाणपत्र असणे अनिवार्य आहे.
                </p>
                {% endif %}
                <div class="text-end">
                    <button
                        class="px-8 py-1 bg-blue-950 mt-3 rounded-lg text-white delay-[350ms] duration-[600ms] taos:translate-x-[100%] taos:opacity-0">Read
                        more
                        <span class="material-symbols-outlined !text-sm ">
                            keyboard_double_arrow_right
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="how_to_apply" class="px-10 mt-25 mb-10">
    <h3
        class="text-3xl font-bold text-blue-950 font-fourth delay-[300ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
        {{ multilingual_content[language]['how_to_enroll'] }}    
    </h3>

    <div>
        <div class="grid grid-cols-5">
            <div class="relative h-full mt-20 delay-[300ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                <h4 class="font-play text-2xl font-semibold">{{ multilingual_content[language]['step'] }} 1</h4>
                <p class="font-secondary text-sm w-3/4 mt-8"> {{ multilingual_content[language]['step_1_content'] }}</p>
                <h4
                    class="font-play text-[220px] font-bold text-light-gray text-end pe-3 absolute top-10 left-20 leading-0 -z-1">
                    1</h4>
            </div>
            <div class="relative h-full mt-20 delay-[450ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                <h4 class="font-play text-2xl font-semibold">{{ multilingual_content[language]['step'] }} 2</h4>
                <p class="font-secondary text-sm w-3/4 mt-8"> {{ multilingual_content[language]['step_2_content'] }}</p>
                <h4
                    class="font-play text-[220px] font-bold text-light-gray text-end pe-3 absolute top-10 left-20 leading-0 -z-1">
                    2</h4>
            </div>
            <div class="relative h-full mt-20 delay-[550ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                <h4 class="font-play text-2xl font-semibold">{{ multilingual_content[language]['step'] }} 3</h4>
                <p class="font-secondary text-sm w-3/4 mt-8"> {{ multilingual_content[language]['step_3_content'] }}</p>
                <h4
                    class="font-play text-[220px] font-bold text-light-gray text-end pe-3 absolute top-10 left-20 leading-0 -z-1">
                    3</h4>
            </div>
            <div class="relative h-full mt-20 delay-[650ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
                <h4 class="font-play text-2xl font-semibold">{{ multilingual_content[language]['step'] }} 4</h4>
                <p class="font-secondary text-sm w-3/4 mt-8">{{ multilingual_content[language]['step_4_content'] }}</p>
                <h4
                    class="font-play text-[220px] font-bold text-light-gray text-end pe-3 absolute top-10 left-20 leading-0 -z-1">
                    4</h4>
            </div>
            <div class="relative h-full mt-20 delay-[550ms] duration-[750ms] -taos:translate-x-[100%] taos:opacity-0">
                <h4 class="font-play text-2xl font-semibold">{{ multilingual_content[language]['step'] }} 5</h4>
                <p class="font-secondary text-sm w-3/4 mt-8"> {{ multilingual_content[language]['step_5_content'] }}</p>
                <h4
                    class="font-play text-[220px] font-bold text-light-gray text-end pe-3 absolute top-10 left-20 leading-0 -z-1">
                    5</h4>
            </div>
        </div>
    </div>
</section>

<!-- FAQ section  -->
<section id="faq" class="px-10 mt-25">
    <h3
        class="text-3xl font-bold text-blue-950 font-fourth delay-[300ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
        {{ multilingual_content[language]['faq'] }}</h3>
    <div
        class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[100ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0 mt-5">
        <h4 class="text-lg font-semibold">{{ multilingual_content[language]['q1']
        }}</h4>
        <p>{{ multilingual_content[language]['ans1'] }}</p>
    </div>
    <div
        class="py-3 border-b pl-1 border-gold font-fourth font-fourth leading-6 delay-[150ms] duration-[600ms] -taos:translate-x-[100%] taos:opacity-0">
        <h4 class="text-lg font-semibold">{{ multilingual_content[language]['q2']
        }}</h4>
        <p>{{ multilingual_content[language]['ans2'] }}</p>
    </div>
</section>


{% endblock %}