{% extends "Homepage/layout/layout.html" %}

{% block content %}
<div class="breadcrumbs px-10 my-5 font-third">
    <ol class="flex items-center">
        <li class="mx-2"><a href="/" cla>{{multilingual_content[language]['home']}}</a></li>
        <li class="text-black mx-2">
            <span class="material-symbols-outlined !text-gray-500 !text-base">
                arrow_forward
            </span>
        </li>
        <li class="text-black mx-2">{{multilingual_content[language]['login_sign_btn']}}</li>
    </ol>
</div>

<div class="min-h-screen flex items-center justify-center bg-gray-50 px-4">
    <div class="relative w-full max-w-xl bg-white rounded-lg shadow-lg overflow-auto grid grid-cols-1 md:grid-cols-2 transition-all duration-500 "
        id="authWrapper">

        <!-- Sign In -->
        <div id="signInForm" class="p-8 transition-all duration-500 ease-in-out col-span-2">
            <h3 class="text-3xl font-semibold text-slate-900 mb-6">Sign in</h3>
            <form action="/login" method="POST" class="space-y-6">
                <div>
                    <label class="block text-sm font-medium text-slate-800 mb-2">Email</label>
                    <input name="email" type="email" required placeholder="Enter email"
                        class="w-full border border-slate-300 rounded-lg py-3 px-4 text-sm outline-blue-600" />
                </div>
                <div>
                    <label class="block text-sm font-medium text-slate-800 mb-2">Password</label>
                    <input name="password" type="password" required placeholder="Enter password"
                        class="w-full border border-slate-300 rounded-lg py-3 px-4 text-sm outline-blue-600" />
                </div>
                <div class="text-right text-sm">
                    <a href="#" class="text-blue-600 hover:underline">Forgot your password?</a>
                </div>
                <button type="submit"
                    class="w-full bg-sky-600 hover:bg-sky-700 text-white font-medium py-2.5 rounded-lg transition">
                    Sign In
                </button>
                <p class="text-sm text-center text-slate-500">
                    Don't have an account?
                    <a  onclick="showRegister()" class="text-blue-600 hover:underline font-medium cursor-pointer">Register
                        here</a>
                </p>
            </form>
        </div>

        <!-- Register -->
        <div id="registerForm"
            class="p-8 transition-all duration-500 ease-in-out translate-x-full absolute top-0 bg-white  md:static md:translate-x-0  opacity-0 invisible md:visible col-span-2 hidden">
            <h3 class="text-3xl font-semibold text-slate-900 mb-6">Register</h3>
            <form action="/signup" method="POST" class="space-y-6">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <input name="first_name" placeholder="First name" required maxlength="15"
                        class="border border-slate-300 rounded-lg py-3 px-4 text-sm outline-blue-600" />
                    <input name="middle_name" placeholder="Middle name" required maxlength="15"
                        class="border border-slate-300 rounded-lg py-3 px-4 text-sm outline-blue-600" />
                    <input name="last_name" placeholder="Last name" required maxlength="15"
                        class="border border-slate-300 rounded-lg py-3 px-4 text-sm outline-blue-600" />
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <input name="email" type="email" placeholder="Enter email" required
                        class="border border-slate-300 rounded-lg py-3 px-4 text-sm outline-blue-600" />
                    <select name="year" required
                        class="border border-slate-300 rounded-lg py-3 px-4 text-sm outline-blue-600">
                        <option value="">--- Select Year ---</option>
                        <option value="2021">BANRF - 2021</option>
                        <option value="2022">BANRF - 2022</option>
                        <option value="2023">BANRF - 2023</option>
                        <option value="2024">BANRF - 2024</option>
                    </select>
                </div>

                <input name="mobile_number" placeholder="Mobile Number" minlength="10" maxlength="10" required
                    class="w-full border border-slate-300 rounded-lg py-3 px-4 text-sm outline-blue-600" />

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <input name="signup_password" type="password" placeholder="Password" required
                        class="border border-slate-300 rounded-lg py-3 px-4 text-sm outline-blue-600" />
                    <input name="confirm_password" type="password" placeholder="Confirm Password" required
                        class="border border-slate-300 rounded-lg py-3 px-4 text-sm outline-blue-600" />
                </div>

                <button type="submit"
                    class="w-full bg-sky-600 hover:bg-sky-700 text-white font-medium py-2.5 rounded-lg transition">
                    Register
                </button>
                <p class="text-sm text-center text-slate-500">
                    Already have an account?
                    <a  onclick="showSignIn()" class="text-blue-600 hover:underline font-medium cursor-pointer">Sign In</a>
                </p>
                <p class="text-sm text-slate-500">
                    Contact: <span class="text-blue-600">bartfellowship2023@gmail.com</span>
                </p>
            </form>
        </div>

    </div>
</div>

<script>
    function showRegister() {
        const regForm = document.getElementById('registerForm');
        const signForm = document.getElementById('signInForm');
        regForm.classList.remove('translate-x-full', 'opacity-0', 'invisible','hidden','absolute');
        regForm.classList.add('translate-x-0', 'opacity-100', 'visible');
        signForm.classList.add('translate-x-full', 'opacity-0', 'invisible','hidden');
    }

    function showSignIn() {
        const regForm = document.getElementById('registerForm');
        const signForm = document.getElementById('signInForm');
        regForm.classList.add('translate-x-full', 'opacity-0', 'invisible','hidden','absolute');
        regForm.classList.remove('translate-x-full', 'opacity-100', 'visible');
        signForm.classList.remove('translate-x-full', 'opacity-0', 'invisible','hidden');
        signForm.classList.add('translate-x-0', 'opacity-100', 'visible');
    }
</script>


<script>
    $(document).on('click', '.show_register_page', function () {
        // $('.register_page').removeClass('translate-x-full')
        $('.register_page').removeClass('invisible')
        // $('.register_page').removeClass('absolute')
        // $('.sign_in_page').addClass('absolute')
        $('.sign_in_page').addClass('-translate-x-full')
        setTimeout(() => {
            $('.register_page').addClass('opacity-100')
            $('.register_page').removeClass('opacity-0')
            $('.register_page').removeClass('translate-x-full')
            $('.sign_in_page').addClass('invisible')
            $('.sign_in_page').addClass('opacity-0')

        }, 600)
    })
    $(document).on('click', '.show_sign_in_page', function () {
        // $('.register_page').removeClass('translate-x-full')
        $('.register_page').addClass('invisible')
        // $('.register_page').removeClass('absolute')
        // $('.sign_in_page').addClass('absolute')
        $('.register_page').addClass('translate-x-full')

        setTimeout(() => {
            $('.register_page').removeClass('opacity-100')
            $('.register_page').addClass('opacity-0')
            $('.sign_in_page').removeClass('-translate-x-full')
            $('.sign_in_page').removeClass('invisible')
            $('.sign_in_page').addClass('opacity-100')
            $('.sign_in_page').removeClass('opacity-0')

        }, 600)
    })
</script>

<script>
    $(document).ready(function () {
        $('#year').on('change', function () {
            var year = $('#year').val()
            if (year === '2023' || year === '2024') {
                Swal.fire({
                    icon: "info",
                    title: "Process not started",
                    text: "Your process has not been started. Please wait for the news to be published by BARTI for BANRF 2023.",
                });
                $('#year').val('');
                $('#first_name').val('');
                $('#middle_name').val('');
                $('#last_name').val('');
                $('#email').val('');
                $('#mobile_number').val('');
            }
            if (year === '2021' || year === '2022') {
                Swal.fire({
                    icon: "info",
                    title: "Old User",
                    text: "Login is already created. Please Login with the registered email ID and Password recieved via email.",
                });
                $('#year').val('');
                $('#first_name').val('');
                $('#middle_name').val('');
                $('#last_name').val('');
                $('#email').val('');
                $('#mobile_number').val('');
            }
        })
    })

</script>
<script src="/static/Homepage/homepage.js"></script>
{% endblock %}