{% extends 'AdminPages/layout/layout.html' %}
{% block content %}

<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white me-2">
        <i class="mdi mdi-cash-clock menu-icon"></i>
      </span> PAYMENT SHEET
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb d-flex align-items-center">
        <li class="breadcrumb-item active" aria-current="page">
          
          {% if year_selected in years and admin_username in usernames %}
             <div class="btn-group">
               <span class="btn btn-dark btn-fw text-white" style="width: auto;">BANRF - {{year_selected}}</span>
               <input type="hidden" id="paymentYearSelector" name="selected_year" value="2021">
             </div>
          {% else %}
            <div class="btn-group">
              <select id="paymentYearSelector" name="selected_year" class="btn btn-dark btn-fw text-white" style="width: auto;">
                <option value="" selected disabled>Select BANRF Year</option>
                <option value="2020">BANRF 2020 - 2021</option>
                <option value="2021">BANRF 2021 - 2022</option>
                <option value="2022">BANRF 2022 - 2023</option>
                <option value="2023">BANRF 2023 - 2024</option>
                <option value="2024">BANRF 2024 - 2025</option>
              </select>
            </div>
            {% endif %}
            <div class="btn-group ms-2">
              <select id="quarterSelector" name="selected_year" class="btn btn-dark btn-fw text-white" style="width: auto;">
                <option selected disabled>Select Quarter</option>
                <option value="Quarter 1">1st Quarter</option>
                <option value="Quarter 2">2nd Quarter</option>
                <option value="Quarter 3">3rd Quarter</option>
                <option value="Quarter 4">4th Quarter</option>
                <option value="Quarter 5">5th Quarter</option>
                <option value="Quarter 6">6th Quarter</option>
                <option value="Quarter 7">7th Quarter</option>
                <option value="Quarter 8">8th Quarter</option>
                <option value="Quarter 9">9th Quarter</option>
                <option value="Quarter 10">10th Quarter</option>
              </select>
            </div>
        </li>
      </ul>
    </nav>
  </div>
   <div class="card">
    <div class="card-header">
      <div class="row justify-content-end">

        <!-- Table to display student applications -->
      <div class="col-md-12 text-end">
        {% if session['user'] == 'Auditor' %}
              <a href ="#" class="btn btn-theme export-excel" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Export as Excel">Export to Excel<a>
        {% else %}
              <a href ="/export_payment_sheet_pdf" class="btn btn-outline-info btn-fw btn-rounded" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Export as Excel">Generate PDF<a>
              <a href ="/export_payment_sheet" class="btn btn-outline-info btn-fw btn-rounded" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Export as Excel">Export to Excel<a>
        {% endif %}
        </div>
        {% if year_selected in years and admin_username in usernames %}
          <div class="text-center mb-4">
              <h4>Payment Sheet for BANRF - {{year_selected}}</h4>
          </div>
        {% else %}  
        <div class="text-center mb-4">
          <h4 id="paymentSheetTitle">Payment Sheet for 2023-2024</h4>
        </div>
        {% endif %}
        <br>
      <div class="table-responsive">
    <table class="table datatable shadow table-bordered">
      <thead>
<!--      <p><strong>NOTE : The H.R.A Rate is calculated according the City Category you are from. IF X Category - 30%, Y Category - 20%, Z Category - 10% </strong></p>-->

        <tr class="text-center">
          <th>Sr. No.</th>
          <th>Applicant ID</th>
          <th>Name of Student</th>
          <th>Date of PHD Registration</th>
          <th>Fellowship Awarded Date</th>
          <th>Duration</th>
          <th>Bank Name</th>
          <th>Account Number</th>
          <th>IFSC</th>
          <th>Fellowship Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for record in user_data %}
            <tr>
              <td class="text-center" style="font-size:15px">{{ loop.index }}</td>
              <td class="text-center">
                <a href="/fellowship_details/{{ record['email'] }}" class="btn btn-outline-primary btn -fw btn-sm btn-rounded tooltip-trigger" data-bs-parent="table"
                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="View Form">TRTI/{{ record['phd_registration_year'] }}/{{ record['id'] }}</a>
              </td>
              <td class="text-center" style="font-size:15px">
                {% if record['first_name'] and record['last_name'] %}
                    {{ record['first_name'] }} {{ record['middle_name'] }} {{ record['last_name'] }}
                {% else %}
                    N/A
                {% endif %}
              </td>
              <td class="text-center" style="font-size:15px">{{ record['joining_date'] }}</td>
              <td class="text-center" style="font-size:15px">{{ record['fellowship_awarded_date'] }}</td>
              <td class="text-center" style="font-size:15px">{{ record['duration']|safe }}</td>
              <td class="text-center" style="font-size:15px">{{ record['bank_name'] }} </td>
              <td class="text-center" style="font-size:15px">{{ record['account_number'] }}</td>
              <td class="text-center" style="font-size:15px">{{ record['ifsc'] }}</td>
              <td class="text-center" style="font-size:15px">{{ record['total'] }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}