<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fellowship | Copyright Policy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/fellow_logo_1.png" rel="icon">
  <link href="/static/assets/img/fellow_logo_1.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">
</head>

<body>

  {% include 'Homepage/layout/header.html' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">{{
            multilingual_content[language]['home'] }}</a></li>
          <li>{{
            multilingual_content[language]['copyright_policy'] }}</li>
        </ol>
        <h2>{{
          multilingual_content[language]['copyright_policy'] }}</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <!-- ======= Contact Section ======= -->
        <section id="hyperlink_policy" class="hyperlink_policy pt-3">

          <div class="container" data-aos="fade-up">
            <div class="container p-0">
              <p class="text-justify para">
                {% if(language == 'english') %}
                All content of this Web site is owned or controlled by Dr. Babasaheb Ambedkar Research and Training
                Institute ("BARTI") and is protected by copyright laws The Materials contained in this site is
                copyrighted and must not be distributed, modified, reproduced in whole or in part without the written
                consent of BARTI prior to usage.
                <br><br>

                Material being reproduced, with written permission of BARTI, must not be used in derogatory manner
                or in misleading context. Where the material is being published or issued to others, the source must
                be prominently acknowledged. However, the permission to reproduce this material does not extend to
                any material on this site which is identified as being the copyright of the third party.
                Authorisation to reproduce such material is obtained from the copyright holders concerned.
                <br><br>

                Dr. Babasaheb Ambedkar Research and Training Institute ("BARTI")'s Web site contains information,
                artwork, text, video, audio, charts or pictures ("Materials") used only for informational purposes.
                <span class="fw-bold">By using and/or downloading any Materials from BARTI's Web site, you will be deemed to agree to
                  these terms:</span> <br>

                <li>Ownership of Materials</li>
                <li>Feedback and Information</li>
                <li>Arbitrations</li>
                <li>Updates</li>
                <br>

                <strong>Ownership of Materials</strong><br>

                The Materials contained in this site is copyrighted and must not be distributed, modified,
                reproduced in whole or in part without the written consent of BARTI prior to usage. The images
                and audio-visuals from this site must not be reproduced in any form without the prior advance
                written consent of BARTI.
                <br><br>

                <strong>Feedback and Information</strong><br>

                Any information and/or feedback you provide at this site shall be deemed to be non-confidential.
                BARTI shall be free to use such information on an unrestricted basis. BARTI will be free to copy,
                disclose, distribute, incorporate and otherwise use the submissions and all data, images, sound,
                text or other content embodied therein for any purposes it deems fit, commercial or non-commercial,
                without liability or compensation to any person or entity. (Also refer to BARTI's Privacy Policy.)
                The sender of any communications to the BARTI Web site or otherwise to the owners of this site shall
                be responsible for the content and information contained therein, including its truthfulness and
                accuracy.
                <br><br>

                <strong>Arbitrations</strong><br>

                This Web site is controlled by BARTI from its offices in Pune in the State of Maharashtra within
                the Union of India. Those who choose to access this Web site from other locations do so on their
                own initiative and are responsible for compliance with applicable local laws, if and to the extent
                that local laws are applicable. Any claim relating to the Materials shall be governed by the laws of
                the Union of India. Any dispute or difference arising for the use of this site or in the interpretation
                of this agreement/notice shall be referred to the Director General of BARTI. The decision of the
                Director General shall be final and binding. In the event of a dispute, the jurisdiction for the
                settling shall be in the courts in Pune, India only.
                <br><br>

                <strong>Updates</strong><br>

                BARTI reserves the right to revise, change or modify these Terms at any time by updating this
                posting or by inserting legal notices located on particular pages at this Site. Please remember to
                visit this page from time to time to review any amendments to the above Terms and their effect on
                your use of this Site and the Materials contained therein. The information contained in this Web
                site is subject to change without notice.
                <br>
                {% else %}
                या वेबसाइटची सर्व सामग्री डॉ. बाबासाहेब आंबेडकर संशोधन आणि प्रशिक्षण संस्था ("BARTI") च्या मालकीची किंवा नियंत्रणाधीन आहे आणि
                कॉपीराइट कायद्यांद्वारे संरक्षित आहे. या साइटमध्ये असलेली सामग्री कॉपीराइट केलेली आहे आणि BARTI च्या पूर्व लेखी परवानगीशिवाय ती
                पूर्णपणे किंवा अंशतः वितरित, सुधारित, पुनरुत्पादित केली जाऊ नये.
                <br><br>

                BARTI च्या लेखी परवानगीने पुनरुत्पादित केलेली सामग्री अपमानजनक पद्धतीने किंवा दिशाभूल करणाऱ्या संदर्भात वापरली जाऊ नये. जेथे
                सामग्री प्रकाशित केली जात आहे किंवा इतरांना जारी केली जात आहे, तेथे स्त्रोताची प्रमुखपणे पावती दिली पाहिजे. तथापि, या सामग्रीच्या
                पुनरुत्पादनाची परवानगी या साइटवरील कोणत्याही सामग्रीपर्यंत विस्तारित नाही जी तृतीय पक्षाची कॉपीराइट असल्याचे ओळखले जाते. अशा
                सामग्रीचे पुनरुत्पादन करण्याची परवानगी संबंधित कॉपीराइट धारकांकडून प्राप्त केली जाते.
                <br><br>

                डॉ. बाबासाहेब आंबेडकर संशोधन आणि प्रशिक्षण संस्था ("BARTI") च्या वेबसाइटमध्ये माहिती, कलाकृती, मजकूर, व्हिडिओ, ऑडिओ,
                चार्ट किंवा चित्रे ("सामग्री") आहेत जी केवळ माहितीच्या उद्देशाने वापरली जातात. <span class="fw-bold">BARTI च्या वेबसाइटवरून
                कोणतीही सामग्री वापरणे आणि/किंवा डाउनलोड करणे म्हणजे तुम्ही या अटींशी सहमत आहात असे मानले जाईल:</span> <br>

                <li>सामग्रीची मालकी</li>
                <li>फीडबॅक आणि माहिती</li>
                <li>लवाद</li>
                <li>अपडेट्स</li>
                <br>

                <strong>सामग्रीची मालकी</strong><br>

                या साइटमध्ये असलेली सामग्री कॉपीराइट केलेली आहे आणि BARTI च्या पूर्व लेखी परवानगीशिवाय ती पूर्णपणे किंवा अंशतः वितरित, सुधारित, पुनरुत्पादित केली जाऊ नये. या साइटवरील प्रतिमा आणि ऑडिओ-व्हिज्युअल BARTI च्या पूर्व लेखी परवानगीशिवाय कोणत्याही स्वरूपात पुनरुत्पादित केले जाऊ नये.
                <br><br>

                <strong>फीडबॅक आणि माहिती</strong><br>

                तुम्ही या साइटवर प्रदान केलेली कोणतीही माहिती आणि/किंवा फीडबॅक गैर-गोपनीय मानली जाईल. BARTI अशा माहितीचा कोणत्याही निर्बंधाशिवाय वापर करण्यास स्वतंत्र असेल. BARTI कोणत्याही व्यक्ती किंवा संस्थेस कोणतेही दायित्व किंवा भरपाई न देता, व्यावसायिक किंवा गैर-व्यावसायिक, कोणत्याही हेतूसाठी योग्य वाटेल अशा कोणत्याही हेतूसाठी सादर केलेली माहिती आणि त्यामध्ये समाविष्ट असलेला सर्व डेटा, प्रतिमा, ध्वनी, मजकूर किंवा इतर सामग्रीची प्रत बनवण्यास, उघड करण्यास, वितरित करण्यास, समाविष्ट करण्यास आणि अन्यथा वापरण्यास स्वतंत्र असेल. (BARTI चे गोपनीयता धोरण देखील पहा.) BARTI वेबसाइटवर किंवा अन्यथा या साइटच्या मालकांना पाठवलेल्या कोणत्याही संप्रेषणाचे प्रेषक त्यामध्ये असलेल्या सामग्रीसाठी जबाबदार असेल, ज्यात त्याची सत्यता आणि अचूकता समाविष्ट आहे.
                <br><br>

                <strong>लवाद</strong><br>

                ही वेबसाइट BARTI द्वारे भारतातील महाराष्ट्र राज्यातील पुणे येथील कार्यालयातून नियंत्रित केली जाते. जे इतर ठिकाणांहून ही वेबसाइट पाहणे निवडतात ते त्यांच्या स्वतःच्या इच्छेने असे करतात आणि लागू स्थानिक कायदे, जर आणि ज्या प्रमाणात लागू असतील, त्यांचे पालन करण्याची जबाबदारी त्यांची आहे. सामग्रीशी संबंधित कोणताही दावा भारताच्या कायद्यांनुसार शासित केला जाईल. या साइटच्या वापरामुळे किंवा या करार/सूचनेच्या अर्थ लावण्यावरून उद्भवणारा कोणताही वाद किंवा फरक BARTI च्या महासंचालकांना संदर्भित केला जाईल. महासंचालकांचा निर्णय अंतिम आणि बंधनकारक असेल. वादाच्या परिस्थितीत, तोडग्याची अधिकारक्षेत्र केवळ भारतातील पुणे येथील न्यायालयांमध्ये असेल.
                <br><br>

                <strong>अपडेट्स</strong><br>

                BARTI या पोस्टिंगला अद्यतनित करून किंवा या साइटच्या विशिष्ट पृष्ठांवर असलेल्या कायदेशीर सूचना टाकून किंवा बदलून या अटींमध्ये कोणत्याही वेळी सुधारणा, बदल किंवा फेरबदल करण्याचा अधिकार राखून ठेवते. वेळोवेळी या पृष्ठाला भेट देऊन उपरोक्त अटींमधील कोणतेही बदल आणि तुमच्या या साइटच्या वापरावरील आणि त्यामध्ये असलेल्या सामग्रीवरील त्यांचा प्रभाव पाहण्याची कृपया आठवण ठेवा. या वेबसाइटमध्ये असलेली माहिती सूचनेशिवाय बदलली जाऊ शकते.
                {% endif %}
              </p>
            </div>

          </div>

        </section><!-- End Contact Section -->
      </div>
    </section>

  </main><!-- End #main -->

  {% include 'Homepage/layout/footer.html' %}

</body>

</html>