<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fellowship | Privacy Policy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/fellow_logo_1.png" rel="icon">
  <link href="/static/assets/img/fellow_logo_1.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">
</head>

<body>

  {% include 'Homepage/layout/header.html' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">{{
              multilingual_content[language]['home'] }}</a></li>
          <li>{{
            multilingual_content[language]['privacy_policy'] }}</li>
        </ol>
        <h2>{{
          multilingual_content[language]['privacy_policy'] }}</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <!-- ======= Contact Section ======= -->
        <section id="hyperlink_policy" class="hyperlink_policy pt-3">

          <div class="container" data-aos="fade-up">
            <div class="container p-0">
              <p class="text-justify para">
                {% if(language == 'english') %}
                <span class="fw-bold">This legal notice pertains to BARTI Web site "www.barti.in" here after referred to as "this Web site".</span>
                <br><br>
                <span class="fw-bold">Welcome</span>
                <br><br>
                This site is owned by Dr. Babasaheb Ambedkar Research and Training Institute (BARTI). BARTI would like
                to safeguard the information you provide to us about yourself. This Privacy Policy is designed to
                tell you about our practices regarding collection, use, and disclosure of information that you may
                provide via this site. Please be sure to read this entire Privacy Policy before using, or submitting
                information, to this site. <span class="fw-bold">Use of this site constitutes your consent to our Privacy Policy.</span>
                <br><br>
                As a general rule, this portal does not automatically capture any specific personal information from
                you, (like name, phone number or e-mail address), that allows us to identify you individually. This
                portal records your visit and logs the following information for statistical purposes, such as Internet
                Protocol (IP) addresses, domain name, browser type, operating system, the date and time of the visit
                and the pages visited. We make no attempt to link these addresses with the identity of individuals
                visiting our site unless an attempt to damage the site has been detected. We will not identify users
                or their browsing activities, except when a law enforcement agency may exercise a warrant to inspect
                the service provider's logs. If BARTI portal requests you to provide personal information, you will
                be informed how it will be used if you choose to give it and adequate security measures will be taken
                to protect your personal information.
                {% else %}
                <span class="fw-bold">हे कायदेशीर सूचना BARTI च्या "www.barti.in" या वेबसाइट संबंधित आहे, ज्याला यापुढे "ही वेबसाइट" म्हणून संबोधले जाईल.</span>
<br><br>
<span class="fw-bold">स्वागत</span>
<br><br>
ही वेबसाइट डॉ. बाबासाहेब आंबेडकर संशोधन आणि प्रशिक्षण संस्था (BARTI) च्या मालकीची आहे. BARTI तुम्ही आम्हाला तुमच्याबद्दल पुरवलेली माहिती सुरक्षित ठेवू इच्छिते. हे गोपनीयता धोरण तुम्हाला या साइटद्वारे तुम्ही पुरवलेली माहिती गोळा करणे, वापरणे आणि उघड करणे यासंबंधीच्या आमच्या पद्धतींबद्दल सांगण्यासाठी तयार केले आहे. या साइटचा वापर करण्यापूर्वी किंवा माहिती सादर करण्यापूर्वी कृपया हे संपूर्ण गोपनीयता धोरण वाचा. <span class="fw-bold">या साइटचा वापर करणे म्हणजे तुम्ही आमच्या गोपनीयता धोरणाला तुमची सहमती दर्शवता.</span>
<br><br>
एक सामान्य नियम म्हणून, हे पोर्टल तुमच्याकडून कोणतीही विशिष्ट वैयक्तिक माहिती (जसे की नाव, फोन नंबर किंवा ई-मेल पत्ता) आपोआप कॅप्चर करत नाही, ज्यामुळे आम्ही तुम्हाला वैयक्तिकरित्या ओळखू शकतो. हे पोर्टल तुमच्या भेटीची नोंद ठेवते आणि सांख्यिकीय उद्देशांसाठी खालील माहिती लॉग करते, जसे की इंटरनेट प्रोटोकॉल (IP) पत्ते, डोमेन नाव, ब्राउझर प्रकार, ऑपरेटिंग सिस्टम, भेटीची तारीख आणि वेळ आणि भेट दिलेली पृष्ठे. 1  जोपर्यंत साइटला नुकसान करण्याचा प्रयत्न आढळला नाही तोपर्यंत आम्ही हे पत्ते आमच्या साइटला भेट देणाऱ्या व्यक्तींच्या ओळखीशी जोडण्याचा प्रयत्न करत नाही. जोपर्यंत कायदा अंमलबजावणी संस्था सेवा प्रदात्याच्या लॉग्सची तपासणी करण्यासाठी वॉरंट वापरत नाही, तोपर्यंत आम्ही वापरकर्त्यांना किंवा त्यांच्या ब्राउझिंग क्रियाकलापांना ओळखणार नाही. जर BARTI पोर्टलने तुम्हाला वैयक्तिक माहिती देण्यास सांगितले, तर तुम्ही ती देण्याचे निवडल्यास ती कशी वापरली जाईल याबद्दल तुम्हाला माहिती दिली जाईल आणि तुमची वैयक्तिक माहिती सुरक्षित ठेवण्यासाठी पुरेसे सुरक्षा उपाय केले जातील.
                {% endif %}
              </p>
            </div>

          </div>

        </section><!-- End Contact Section -->
      </div>
    </section>

  </main><!-- End #main -->

  {% include 'Homepage/layout/footer.html' %}

</body>

</html>