<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fellowship | Terms and Conditions</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/fellow_logo_1.png" rel="icon">
  <link href="/static/assets/img/fellow_logo_1.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">
</head>

<body>

  {% include 'Homepage/layout/header.html' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">{{
              multilingual_content[language]['home'] }}</a></li>
          <li>{{
            multilingual_content[language]['terms_and_conditions'] }}</li>
        </ol>
        <h2>{{
          multilingual_content[language]['terms_and_conditions'] }}</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <!-- ======= Contact Section ======= -->
        <section id="hyperlink_policy" class="hyperlink_policy pt-3">

          <div class="container" data-aos="fade-up">
            <div class="container p-0">
              {% if(language == 'english') %}
              <p class="text-justify para">The content for the website is updated and maintained by BARTI and by
                accessing this website, you unconditionally accept to be legally bound by the terms and conditions.
                If you do not agree to the mentioned terms and conditions, please do not access the website.
              </p>
              <p>Efforts have been made to ensure the accuracy and currency of the content on this website; however,
                the same should not be interpreted as a statement of law or used for any legal purposes. In case of
                any ambiguity or doubts, users are advised to verify / check with the concerned Department(s)
                and / or other source(s), and obtain appropriate professional advice.
              </p>
              <p>
                Under no circumstances will BARTI be liable for any expense, loss or damage including, without
                limitation, indirect or consequential loss or damage or any expense, loss or damage whatsoever
                arising from use, or loss of use, of data, arising out of or in connection with the use of this website.
              </p>

              <p>
                These terms and conditions shall be governed by and construed in accordance with the Indian Laws.
                Any dispute arising under these terms and conditions shall be subject to the jurisdiction of the
                courts of India
              </p>
              {% else %}
              <p class="text-justify para">
                या वेबसाइटची सामग्री BARTI द्वारे अद्ययावत आणि देखरेख केली जाते आणि या वेबसाइटला भेट देऊन, तुम्ही बिनशर्तपणे नियम आणि
                अटींनी कायदेशीररित्या बांधले जाण्यास सहमत आहात. जर तुम्ही नमूद केलेल्या नियम आणि अटींशी सहमत नसाल, तर कृपया
                वेबसाइटला भेट देऊ नका.
              </p>
              <p>
                या वेबसाइटवरील सामग्रीची अचूकता आणि वर्तमानता सुनिश्चित करण्यासाठी प्रयत्न केले गेले आहेत; तथापि, ते कायद्याचे विधान म्हणून किंवा
                कोणत्याही कायदेशीर कारणांसाठी वापरले जाऊ नये. कोणत्याही संदिग्धता किंवा शंका असल्यास, वापरकर्त्यांना संबंधित विभाग(கள்)
                आणि/किंवा इतर स्त्रोत(e) सोबत पडताळणी/तपासणी करण्याचा आणि योग्य व्यावसायिक सल्ला घेण्याचा सल्ला दिला जातो.
              </p>
              <p>
                कोणत्याही परिस्थितीत BARTI कोणत्याही खर्च, तोटा किंवा नुकसानीसाठी जबाबदार राहणार नाही, ज्यात मर्यादांशिवाय, अप्रत्यक्ष किंवा परिणामी
                नुकसान किंवा तोटा किंवा डेटाच्या वापरामुळे किंवा वापराच्या नुकसानीमुळे उद्भवणारे कोणतेही खर्च, तोटा किंवा नुकसान, या वेबसाइटच्या
                वापराच्या संबंधात उद्भवणारे कोणतेही नुकसान समाविष्ट आहे.
              </p>

              <p>
                हे नियम आणि अटी भारतीय कायद्यांनुसार शासित आणि अर्थ लावले जातील. या नियम आणि अटींनुसार उद्भवणारा कोणताही वाद भारताच्या
                न्यायालयांच्या अधिकारक्षेत्रात असेल.
              </p>
              {% endif %}

            </div>

          </div>

        </section><!-- End Contact Section -->
      </div>
    </section>

  </main><!-- End #main -->

  {% include 'Homepage/layout/footer.html' %}

</body>

</html>