<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fellowship | Website Monitoring Policy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/fellow_logo_1.png" rel="icon">
  <link href="/static/assets/img/fellow_logo_1.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">
</head>

<body>

  {% include 'Homepage/layout/header.html' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">{{
            multilingual_content[language]['home'] }}</a></li>
          <li>{{
            multilingual_content[language]['website_monitoring_policy'] }}</li>
        </ol>
        <h2> {{
          multilingual_content[language]['website_monitoring_policy'] }}</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <!-- ======= Contact Section ======= -->
        <section id="hyperlink_policy" class="hyperlink_policy pt-3">

          <div class="container" data-aos="fade-up">
            <div class="container p-0">
              {% if(language == 'english') %}
              <p class="text-justify"><span class="fw-bold">Links to External Websites/Portals</span> <br>
                At many places in this portal, you shall find links to other websites/portals created and maintained
                by BARTI. These links have been placed for your convenience. When you select a link you are navigated
                to that website. Once on that website, you are subject to the privacy and security policies of the
                owners / sponsors of the website. "Dr. Babasaheb Ambedkar Research and Training Institute (BARTI)"
                is not responsible for the contents and reliability of the linked websites and does not necessarily
                endorse the views expressed in them. Mere presence of the link or its listing on this portal should
                not be assumed as endorsement of any kind.

              </p>

              <p class="text-justify"><span class="fw-bold">Links to the BARTI Website by Other Websites/Portals
              </span><br>
                We do not object you for linking directly to the information that is hosted on our site and no
                prior permission is required for the same. We do not permit our pages to be loaded into frames
                on your site. Our Department's pages must load into a newly opened browser window of the user.
              </p>

              {% else %}

              <p class="text-justify"><span class="fw-bold">बाह्य वेबसाइट्स/पोर्टल्सच्या लिंक्स
              </span> <br>
                या पोर्टलवर बऱ्याच ठिकाणी, तुम्हाला BARTI द्वारे तयार केलेल्या आणि देखरेख केलेल्या इतर वेबसाइट्स/पोर्टलच्या लिंक सापडतील.
                तुमच्या सोयीसाठी या लिंक्स दिल्या आहेत. जेव्हा तुम्ही लिंक निवडता तेव्हा तुम्हाला त्या वेबसाइटवर नेव्हिगेट केले जाते. एकदा त्या वेबसाइटवर,
                तुम्ही मालक/प्रायोजकांच्या गोपनीयता आणि सुरक्षा धोरणांच्या अधीन आहात संकेतस्थळ. "डॉ. बाबासाहेब आंबेडकर संशोधन आणि प्रशिक्षण संस्था
                (BARTI)" सामग्रीसाठी जबाबदार नाही आणि लिंक केलेल्या वेबसाइट्सची विश्वासार्हता आणि त्यात व्यक्त केलेल्या मतांचे समर्थन करणे आवश्यक
                नाही. फक्त या पोर्टलवर दुव्याची उपस्थिती किंवा त्याची सूची कोणत्याही प्रकारचे समर्थन मानले जाऊ नये.
              </p>

              <p class="text-justify"><span class="fw-bold">इतर वेबसाइट्स/पोर्टलद्वारे बार्टी वेबसाइटच्या लिंक्स
              </span><br>
                आमच्या साइटवर होस्ट केलेल्या माहितीशी थेट लिंक केल्याबद्दल आम्ही तुम्हाला आक्षेप घेत नाही आणि त्यासाठी कोणत्याही पूर्व परवानगीची
                आवश्यकता नाही. आम्ही आमची पृष्ठे तुमच्या साइटवर फ्रेममध्ये लोड करण्याची परवानगी देत ​​नाही. आमच्या विभागाची पृष्ठे
                वापरकर्त्याच्या नवीन उघडलेल्या ब्राउझर विंडोमध्ये लोड करणे आवश्यक आहे.
              </p>
              {% endif %}

            </div>

          </div>

        </section><!-- End Contact Section -->
      </div>
    </section>

  </main><!-- End #main -->

  {% include 'Homepage/layout/footer.html' %}

</body>

</html>