<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Form | Fellowship</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/admin_assets/img/favicon.png" rel="icon">
    <link href="static/admin_assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/admin_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/admin_assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/admin_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/admin_assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="static/admin_assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="static/admin_assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/admin_assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/admin_assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/admin_assets/css/select2-bootstrap4.css">
    <link rel="stylesheet" href="/static/admin_assets/css/select2.min.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <style>
        input[readonly] {
            background-color: var(--bs-secondary-bg);
        }
    </style>
</head>


<body>

    <!-- ======= Header ======= -->
    {% include 'user_templates/header.html' %}
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->

    <!-- End Sidebar-->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Application Form</span></i>
                </a>
            </li><!-- End Forms Nav -->
            <li class="nav-item">
                <a class="nav-link" href="/app_form_info">
                    <i class="bi bi-arrow-down-right-square-fill"></i><span>Basic Form Information</span></i>
                </a>
            </li>
        </ul>
    </aside>


    <!-- MAIN -->
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Application Form</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Home</a></li>
                    <li class="breadcrumb-item">Pages</li>
                    <li class="breadcrumb-item active">App Form</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section contact">
            <div class="">
                {% include 'user_templates/steps.html' %}
                <form method="POST" action="/section4" class="needs-validation" novalidate=""
                    enctype="multipart/form-data" id="section4">
                    <div class="card">
                        <div class="page-4">
                            <div class="card-header bg-light">
                                <h5 class="card-title p-0">
                                    Parent's-Guardian's Details Details / पालकांचे-पालकांचे तपशील तपशील </h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group row my-2">
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Father's Full Name<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Enter Father's Full Name">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <input type="text" name="father_name" class="form-control"
                                            onkeyup="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')"
                                            placeholder="Enter Father's Name" {% if view_mode=='view' %}disabled
                                            value="{{ existing_record['father_name'] }}" {% endif %}
                                            data-name="Father's Name" required="" onblur="validateField(this)"
                                            minlength="2" maxlength="50">
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter Father's Name
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Mother's Full Name<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Enter Mother's Full Name">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <input type="text" name="mother_name" class="form-control"
                                            onkeyup="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')"
                                            placeholder="Enter mother's Name" {% if view_mode=='view' %}disabled
                                            value="{{ existing_record['mother_name'] }}" {% endif %}
                                            data-name="First Name" required="" onblur="validateField(this)"
                                            minlength="2" maxlength="50">
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter Mother's Name
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Government Employee<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Does any one in the family work in Government">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <select name="work_in_government" id="work_in_government" class="form-control"
                                            {% if view_mode=='view' %}disabled {% endif %} required>
                                            <option value=""> --- Select Option ---</option>
                                            <option value="Yes" {% if(existing_record['work_in_government']=='Yes' ) %}
                                                selected {%endif%}> Yes</option>
                                            <option value="No" {% if(existing_record['work_in_government']=='No' ) %}
                                                selected {%endif%}>No</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Does any one in the family work in Government
                                        </div>
                                    </div>
                                    <div class="d-none row" id="govern_id">
                                        <div class="col-md-4">
                                            <label for="" class="fw-bold">Government Department<span
                                                    class="text-danger">*</span></label> <i
                                                class="bi bi-arrow-right"></i> <label data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                data-bs-original-title="Please mention the Department">
                                                <i class="ri-information-fill">Instructions</i></label><br>
                                            <input type="text" name="gov_department" class="form-control"
                                                onkeyup="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')"
                                                placeholder="Enter Government Department" {% if view_mode=='view'
                                                %}disabled value="{{ existing_record['gov_department'] }}" {% endif %}
                                                data-name="First Name" onblur="validateField(this)" minlength="2"
                                                maxlength="20">
                                            <div class="valid-feedback">
                                                Looks Good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Please mention the Department
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="" class="fw-bold">Role/Post in Government<span
                                                    class="text-danger">*</span></label> <i
                                                class="bi bi-arrow-right"></i> <label data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                data-bs-original-title="Please mention your post in Government">
                                                <i class="ri-information-fill">Instructions</i></label><br>
                                            <input type="text" name="gov_position" class="form-control"
                                                onkeyup="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')"
                                                placeholder="Enter Government Position" {% if view_mode=='view'
                                                %}disabled value="{{ existing_record['gov_position'] }}" {% endif %}
                                                data-name="First Name" onblur="validateField(this)"
                                                minlength="2" maxlength="20">
                                            <div class="valid-feedback">
                                                Looks Good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Please mention your post in Government
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-header bg-light">
                                <h5 class="card-title p-0">
                                    Bank Details/बँक तपशील </h5>
                            </div>

                            <div class="card-body">
                                <div class="form-group row my-2">
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">IFSC Code<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Please enter IFSC Code and the Bank Name will be autopopulated">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <input type="text" name="ifsc_code" id="ifsc_code" class="form-control"
                                            placeholder="Enter IFSC Code" required {% if view_mode=='view' %}disabled
                                            value="{{ existing_record['ifsc_code'] }}" {% endif %} maxlength='20'>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter the IFSC Code of your bank
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Account Number<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Please enter your account number">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <input type="text" name="account_number" class="form-control"
                                            placeholder="Enter Account Number" required {% if view_mode=='view'
                                            %}disabled value="{{ existing_record['account_number'] }}" {% endif %}
                                            onkeyup="this.value = this.value.replace(/[^0-9]/g, '').substring(0,20)">
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter your Account Number
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Bank Name<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="If Bank Name is not seen please enter the IFSC code again. You cannot edit this field">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <input type="text" name="bank_name" id="bank_name" class="form-control"
                                            onkeyup="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')"
                                            placeholder="Enter Bank Name" required {% if view_mode=='view' %}disabled
                                            value="{{ existing_record['bank_name'] }}" {% endif %} data-name="Bank Name"
                                            required="" onblur="validateField(this)" minlength="2" maxlength="70"
                                            readonly>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter the Name of the bank
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">Account Holder Name<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Please enter full name of account holder">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <input type="text" name="account_holder_name" class="form-control"
                                            onkeyup="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')"
                                            placeholder="Enter Account Holder Name" required {% if view_mode=='view'
                                            %}disabled value="{{ existing_record['account_holder_name'] }}" {% endif %}
                                            data-name="Account Holder Name" required="" onblur="validateField(this)"
                                            minlength="3" maxlength="35">
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter full name of account holder
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="fw-bold">MICR Code<span
                                                class="text-danger">*</span></label> <i class="bi bi-arrow-right"></i>
                                        <label data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-original-title="Please enter you MICR Code">
                                            <i class="ri-information-fill">Instructions</i></label><br>
                                        <input type="text" name="micr" id="micr" class="form-control"
                                            onkeyup="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')"
                                            placeholder="Enter MICR Code" required {% if view_mode=='view'
                                            %}disabled value="{{ existing_record['micr'] }}" {% endif %}
                                            data-name="Account Holder Name" required="" onblur="validateField(this)"
                                            minlength="3" maxlength="35" readonly>
                                        <div class="valid-feedback">
                                            Looks Good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Please enter you MICR Code
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <a href="/section3">
                                    <button type="button" class="btn btn-warning shadow preview-btn-2"
                                        data-bs-toggle="tooltip" data-bs-title="Previous">Previous</button>
                                </a>
                                {% if not view_mode == 'view' %}
                                <form action="/section4" method="POST">
                                    <button type="submit" class="btn btn-success" data-bs-toggle="tooltip"
                                        data-bs-title="Save">Save & Next</button>
                                </form>
                                {% endif %}
                                <a href="/section5">
                                    <button type="button" class="btn bar-active shadow next-btn-4"
                                        data-bs-toggle="tooltip" data-bs-title="Next">Next</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <!----------------================== END MAIN FORM =====================------------------>
    {% include 'admin_templates/footer.html' %}

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/admin_assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="static/admin_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/admin_assets/vendor/chart.js/chart.umd.js"></script>
    <script src="static/admin_assets/vendor/echarts/echarts.min.js"></script>
    <script src="static/admin_assets/vendor/quill/quill.min.js"></script>
    <script src="static/admin_assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="static/admin_assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="static/admin_assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/admin_assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/static/select2/js/select2.min.js"></script>
    <script src="static/admin_assets/js/common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="static/admin_assets/js/validation.js"></script>
    <script src="static/admin_assets/js/section4.js"></script>
</body>

</html>