<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Monthly Presenty | Fellowship</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/admin_assets/img/favicon.png" rel="icon">
    <link href="static/admin_assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/admin_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/admin_assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/admin_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/admin_assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="static/admin_assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="static/admin_assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/admin_assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/admin_assets/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    {% include 'user_templates/header.html' %}
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    {% include 'user_templates/sidebar.html' %}
    <!-- End Sidebar-->

    <main id="main" class="main">




        <!-- Form to upload new reports -->
        <form method="POST" action="/presenty_AA" enctype="multipart/form-data">

            {% if joining_date %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-light">
                            <div class="pagetitle">
                                <h1 class="">Monthly Presenty Report</h1>
                                <nav>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/mainpage">Home</a></li>
                                        <li class="breadcrumb-item">Pages</li>
                                        <li class="breadcrumb-item active">Presenty</li>
                                    </ol>
                                </nav>
                            </div>

                        </div>
                        <div class="card-body py-3">
                            <table class="table table-bordered datatable">
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Monthly Document Name</th>
                                        <th>Submitted Date</th>
                                        <th>Submitted Day</th>
                                        <th>Upload Report <span class="text-danger">*</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for start_date, end_date in zipped_dates %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ start_date.strftime('%d-%m-%Y') }}</td>
                                        <td>{{ end_date.strftime('%d-%m-%Y') }}</td>
                                        <td>Monthly Report {{ loop.index }}</td>
                                        <td>
                                            {% if loop.index <= submitted_count %} {{ award_letter_data["submission_date_report" ~ loop.index] | default("NA") }} {% endif %}
                                        </td>
                                        <td>
                                            {% if loop.index <= submitted_count %} {{ award_letter_data["submission_day_report" ~ loop.index] | default("NA") }} {% endif %} </td>
                                        <td>
                                            {% if loop.index <= submitted_count %} <a
                                                href="{{ reports[submitted_documents[loop.index - 1]] }}" target="_blank"
                                                class="btn btn-theme btn-sm tooltip-trigger enable" data-bs-toggle="tooltip"
                                                data-bs-placement="top" data-bs-original-title="View Document">
                                                <i class="ri-eye-fill"></i>
                                                </a>
                                                {% else %}
                                                <form method="post" enctype="multipart/form-data">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <input type="file" id="monthly_report{{ loop.index }}" name="monthly_report{{ loop.index }}"
                                                                class="form-control file_validation" required
                                                               {% if submitted_documents|length + 1 != loop.index %}
                                                                    disabled="true"
                                                                {% endif %}
                                                            >
                                                             <div id="fileError" style="color: red;"></div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button type="submit" class="btn btn-theme tooltip-trigger"
                                                                data-bs-toggle="tooltip" data-bs-placement="top"
                                                                data-bs-original-title="View Document">Upload</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            {% else %}
            <p>Joining date not available.</p>
            {% endif %}
        </form>
    </main>


    <!-- ======= Footer ======= -->
    {% include 'user_templates/footer.html' %}
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>


    <script src="{{ url_for('static', filename='admin_assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="static/admin_assets/vendor/chart.js/chart.umd.js"></script>
    <script src="static/admin_assets/vendor/echarts/echarts.min.js"></script>
    <script src="static/admin_assets/vendor/quill/quill.min.js"></script>
    <script src="static/admin_assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="static/admin_assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="static/admin_assets/vendor/php-email-form/validate.js"></script>
    <script src="{{ url_for('static', filename='admin_assets/js/main.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='admin_assets/js/common.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='admin_assets/js/validation.js')}}"></script>

    <script>

        $(document).ready(function(){
        var eye = $('.enable');
        eye_length = eye.length + 1
        $('#monthly_report'+eye_length).attr('disabled',false);
        });


    </script>

</body>

</html>